[2017-02-21 15:19] ppeczek opened #421 "Duplicates of records"
I am getting duplicates of table record with no exception, but warning in server:
`/usr/local/lib/python2.7/dist-packages/django_tables2/rows.py:143: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  if value in bound_column.column.empty_values:
`

[2017-02-22 08:40] codehelp opened #422 "TemplateColumn(template_name='file.html') raises TypeError with django 1.11"
We frequently use a common block of code in a variety of tables:
https://git.linaro.org/lava/lava-server.git/tree/lava_scheduler_app/templates/lava_scheduler_app/job_actions_field.html
https://git.linaro.org/lava/lava-server.git/tree/lava_scheduler_app/tables.py#n357
    actions = tables.TemplateColumn(
        template_name="lava_scheduler_app/job_actions_field.html")

With django 1.11 (installed

[2017-02-22 09:00] codehelp commented on #422
Found changes in master since the version of django-tables2 available in Debian.

[2017-02-22 09:00] #422 closed

[2017-02-24 09:50] jieter commented on #414
I tried again in python3.6:

[code]

Not sure what's going wrong in your case, but I suspect your shell doesn't handle unicode characters well. I'm closing this since I cannot reproduce, please reopen with more information if

[2017-02-24 09:50] #414 closed

[2017-02-24 09:52] jieter commented on #421
Interesting, can you tell more about your environment? OS, python, django and django-tables2 versions?

[2017-02-24 10:14] ppeczek commented on #421
This occured when I migrated from `django==1.7` to `django==1.10` and from `django_tables2==1.0.4` to current version. I also started to work on docker with `ubuntu:trusty`. Python version is 2.7.
I managed to fix it by commenting one boolean column which had `visible=False`, but was used for ordering table. What is more concerning I have second similar table which doesn't produce this error. I'm

[2017-02-24 10:16] #419 closed

[2017-02-24 10:17] jieter commented on #419
@brianmay, just pushed a fix for this, please have look if it fixes your issue.

[2017-02-24 10:18] jieter commented on #420
This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-tables2) and tag your question with `django-tables2`.

That said, it looks like something is wrong with your django url configuration.

You can also have a look at [the example project](https://github.com/bradley

[2017-02-24 10:18] #420 closed

[2017-02-24 10:20] jieter commented on #421
Is it possibly related to this issue: #361 ?

[2017-02-24 10:26] ppeczek commented on #421
Oh, that's correct. I am sorry for duplicating issue. But this doesn't happen in all cases.

[2017-02-24 10:28] jieter commented on #421
Never mind, the more information on this the better. I'm really interested in your findings on the issue, let's keep it in this separate issue until we see things more clearly.

[2017-02-24 16:59] #413 closed

[2017-02-24 17:12] #410 closed

[2017-02-26 21:26] intiocean commented on #361
I've just had this problem too and understand why it's happening for me so thought I'd post as I suspect others have it for the same reason. _(Although, I haven't tried with other versions of django-tables2, so I might be wrong as I don't understand why that would stop this happening... Although... actually thinking about it I would hypothesise that this is because in older versions non-paginated

[2017-02-26 23:27] brianmay commented on #419
I am not able to test it right now (having been reassigned to another project), however the change - and the corresponding test case - looks good. Thanks.

[2017-02-26 23:36] C-BERBER opened #425 "Embed a Django-Tables2 inside of a CrispyForms Layout"
Hello, I love this package, but have been vainly trying to embed a table inside of a crispy form.

I can get them both to render separately but not inside a crispy form...

If anyone has tried and or succeeded please leave a note over here, Thanks. CB

http://stackoverflow.com/questions/42046413/django-crispy-forms-embed-a-django-tables2-table-in-a-tab-layout

[2017-02-27 07:42] jieter commented on #425
This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-tables2) and tag your question with `django-tables2`.

This is what you did already, and I just answered your question on SO.

[2017-02-27 07:42] #425 closed

[2017-02-27 08:47] jieter commented on #361
@intiocean this number of queries for non-paginated tables is quite strange, not sure why this happens, and it should not happen. This test case shows the problem:

[code]

[2017-02-27 10:33] jieter opened #426 "django-haystack supports python 3 now, amend tests accordingly."
http://django-haystack.readthedocs.io/en/v2.6.0/python3.html

[2017-02-27 10:45] C-BERBER commented on #425
Thank you very much, I will give it a shot

On Mon, Feb 27, 2017 at 2:42 AM, Jan Pieter Waagmeester <
notifications@github.com> wrote:

[2017-02-27 11:14] jieter opened #427 "should not make a query for each row in non-paginated table"
As discussed in #361, this test fails. This seems to be related to #330:

 - testing with v1.2.1 makes the tests pass
 - testing with v1.2.2 (#330 merged), make the test fail.

[code]
SELECT queries performed:
[code]
(redacted for readability)

[2017-02-27 12:31] jieter commented on #427
bisecting points to 8fe9826429e6945a9258bc181fcbd711b282dba9, entirely my fault, not #330.

[2017-02-27 12:32] intiocean commented on #361
I have tried, unsuccessfully, to create a test for the paginated case that fails. I don't understand why but everything appears to work as normal in the paginated case...

[2017-02-27 12:37] jieter commented on #361
@intiocean I think I fixed it with 10f5e968bc10552be0ad02ee566513b5d274d5c5

[2017-02-27 12:44] #427 closed

[2017-02-27 12:44] jieter opened #428 "Some more smoke tests."
Removing [`TableData.__iter___`](https://github.com/bradleyayers/django-tables2/commit/8fe9826429e6945a9258bc181fcbd711b282dba9) was possible without any tests failing. I think I removed it because of no tests seem to cover it, and removing it did not make the tests fail.

But it did result in strange bugs like #361, #427 and #421

We have some tests asserting number of queries, but it might help

[2017-02-27 12:45] jieter commented on #421
@ppeczek I just pushed some commits to master which might fix this. Can you verify?

[2017-02-27 12:46] intiocean commented on #361
@jieter Great! I can see why that would resolve the issue with non-paginated tables but still think that ordering by a non-unique column when the data is spread across different pages could result in the same row appearing on multiple pages due to the `top n ... limit x offset y`

What do you think?

Similar to: http://stackoverflow.com/questions/31736700/duplicate-elements-in-django-paginate-afte

[2017-02-27 12:46] jieter commented on #361
@wtfrank, @intiocean @n0ctua @op-alex-reid @fliphess I just pushed some commits to master which might fix this. Can you verify?

[2017-02-27 13:03] jieter commented on #361
@intiocean If that is the source of this issue, I think we can only fix this issue partially by documenting this behaviour.

[2017-02-27 14:06] ppeczek commented on #421
Works as a charm!

[2017-02-27 14:06] #421 closed

[2017-02-27 14:19] intiocean commented on #361
I can confirm that this fixes non-paginated tables @jieter. This also improves performance for non paginated tables as there is now only one query

Check:
With 962f502 and sorting by the 'Notes' column -> duplication
![image](https://cloud.githubusercontent.com/assets/725843/23363632/8b1a9726-fcf3-11e6-8f6f-af567b88635f.png)

With f853078 and sorting by the 'Notes' column -> no duplication 🎉
![ima

[2017-02-27 14:21] intiocean commented on #361
Any chance you could do a release @jieter?

[2017-02-27 15:19] jieter commented on #361
wohoo, finally fixed!

Yes, I'll release within an hour.

[2017-02-27 15:19] #361 closed

[2017-02-27 15:23] jieter commented on #421
released [1.4.0](https://pypi.python.org/pypi/django-tables2/1.4.0)

[2017-02-27 15:23] jieter commented on #361
released [1.4.0](https://pypi.python.org/pypi/django-tables2/1.4.0)

[2017-02-27 15:24] jieter commented on #413
released [1.4.0](https://pypi.python.org/pypi/django-tables2/1.4.0)

[2017-02-27 15:24] jieter commented on #427
released [1.4.0](https://pypi.python.org/pypi/django-tables2/1.4.0)

[2017-02-27 15:24] intiocean commented on #361
Awesome, thanks @jieter!

[2017-02-27 15:33] #398 closed

[2017-02-27 15:48] #416 closed

[2017-02-27 16:17] jieter commented on #418
You are welcome to give it a try, should not be that hard to render forms...

Might be interesting to have a look at #253 in order to switch between default rendering and editable tables.

[2017-02-27 16:19] jieter commented on #166
Updated ref to the list conversion:

https://github.com/bradleyayers/django-tables2/blob/master/django_tables2/tables.py#L64

Might be nice to just pass the values to an attribute in the `TableListData` class, which defaults to `item`/`items`

[2017-02-27 17:01] llaisdy commented on #418
Thanks, I'll give it a blast this week and see how far I get.

[2017-03-01 18:25] n0ctua commented on #361
@jieter and @intiocean thank you both so much for fixing this! Works perfectly now.

[2017-03-04 13:37] dogukankotan opened #429 "Using Multitable with Generic Class Based Views"
In documentation, there is like

 tables = [ table1(qs), table2(qs) ]

However, I can't figure out how I can use those queryset as data in a class view.

Thanks

[2017-03-06 10:25] jieter commented on #406
Fixed by #406

[2017-03-06 10:25] #406 closed

[2017-03-09 12:47] gthieleb opened #430 "row_attrs not applied to <tr><td>"
`row_attrs` works for \<tr\> but not for nested \<td\>.

Example `row_attrs` attribute that should apply style to nested td.

    class Meta:
        model = PlannedMachine
        attrs = {"class": "paleblue"}
        row_attrs = {'td': {'style': 'width:100%;'}}

Result: Style is not applied:

     <td class="filesystems">....</td>

[2017-03-10 08:12] jieter commented on #430
This is expected behaviour.

Use a column's [`attrs`](http://django-tables2.readthedocs.io/en/latest/pages/api-reference.html#column) argument to change the attrs for `<td>`.

[code]
We could make your syntax work, but I think that'll make things needlessly complex: What if `<td>`-attrs are defined in both the `row_attrs` in `table.Meta` and in the column's `attrs`? What should take precedence?

[2017-03-10 08:12] #430 closed

[2017-03-17 12:27] llaisdy commented on #418
Some progress with this.  One last issue I'm working on: I think I need a list of all pks in the table to match up against the POSTed choice column data.

I have a subclass of tables.Column which renders a Select widget:

[code]

Let's say it's a list of Review objects:

[code]

One minor caveat is that the "value" that is rendered is the "label" in the choices tuple.  e.g., with choices (('bd', '

[2017-03-17 13:38] jieter commented on #418
Shouldn't you just add a hidden field containing the pk of the row?

[2017-03-17 14:53] raiderrobert commented on #390
@jieter thanks for clarifying this. I was about to subclass the LinkColumn, and make my own render function. I agree the docs could be a little better. Thanks!

[2017-03-17 14:56] jieter commented on #390
@raiderrobert If you have a proposal to make the docs clearer, please open a PR.

[2017-03-17 14:56] llaisdy commented on #418
Do you mean use a django model formset and use tables2 to render the formset? I didn't see a hidden column type in tables2.

[2017-03-17 15:05] jieter commented on #418
Using a django model formset would be really nice, but I meant finding some way to add a hidden input to each row, to get your example to work...

[2017-03-17 15:09] raiderrobert commented on #390
@jieter sorry, I meant to say the docs could have been clearer before you made the change. I was working on an older version, and so when I upgraded, I found the new documentation to be much better. Thanks!

[2017-03-17 15:09] llaisdy commented on #418
Ok, thanks.  I think finding some way to add a hidden input to each row would be nicer than using model formset here (I've had one go at that already).  I'll try & do a HiddenInputColumn subclass of tables.Column.

[2017-03-17 15:12] jieter commented on #390
@raiderrobert great!

[2017-03-17 15:55] llaisdy commented on #418
OK this works:

[code]

... in the table:

[code]

... and in the view:

[code]

A bit hacky maybe but easy to understand.

Thanks again.  django-tables2 is very nice to use!

[2017-03-24 12:09] jieter commented on #429
@dogukankotan that's one way to use it. The other is documented in the [API reference for `MultiTableMixin`](http://django-tables2.readthedocs.io/en/latest/pages/api-reference.html#multitablemixin)

By the way, this is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-t

[2017-03-24 12:09] #429 closed

[2017-03-24 12:10] jieter commented on #418
@llaisdy Are you planning to share the changes you made? If not, please close this issue. If you do, I'm looking forward to the pull request.

[2017-03-24 12:13] llaisdy commented on #418
I haven't made any changes to django-tables2.  All I've done is what I said I've done in comments above.

[2017-03-24 12:13] #418 closed

[2017-04-08 20:43] nspo commented on #352
Has there been any progress on django-filter integration? I also think that would be great.

[2017-04-10 10:31] jieter opened #433 "JSONfield"
Add a field to show a JSON-object more beautiful than the default python dict-to-string it defaults to now.

[2017-04-10 10:37] jieter opened #434 "Use a setting to allow changing the default template."
Currently, the default template is `tables/table.html`, but if a project uses a different template, it has to be added to either every template tag or every table definition.

This can be solved by allowing the default template to be defined in a setting, for example
[code]

[2017-04-10 12:00] jieter commented on #433
Fixe by 25d11ec

[2017-04-10 12:00] #433 closed

[2017-04-10 14:14] #434 closed

[2017-04-16 16:18] jieter commented on #351
This not possible to realise using the current templates, as the `boundColumn` instance has no way of knowing about the current row.
Commit 58d0d9d adds `table` as an optional arg for `attr` callables.

[2017-04-16 16:18] #351 closed

[2017-04-17 20:44] citxx opened #435 "Column with empty accessor is always empty"
Hi, I want to make a column which combines the values of two fields of my Django model. The most natural way to do that seems to make a column with an empty accessor, so the corresponding `render` method receives the whole object as its `value` argument. But when I try this, the column is empty and `render` method is never called.

Example:

[code]

[2017-04-17 20:48] citxx commented on #435
I'm able to do the same trick with any related object, but not with the top-level one. It seems to be a good idea to fill the gap.

[2017-04-18 07:49] jieter commented on #435
`django_tables2` thinks there is no data for that column, so you should tell the column it should call the `render_...()` regardless of that:

[code]
See also the **important** note in the [`Table.render_foo` methods documentation](http://django-tables2.readthedocs.io/en/latest/pages/custom-data.html?highlight=empty_values#table-render-foo-methods)

[2017-04-18 07:49] #435 closed

[2017-04-19 06:49] citxx commented on #435
Thanks for the fast response.

In that case the `render_...()` method is always called, but its `value` argument is always `None`. So I cannot access the fields.

[2017-04-19 06:58] jieter commented on #435
Please have a look at the record keyword argument in the documentation linked above.

[2017-04-19 21:38] bellwood opened #436 "Responsive tables"
Would it be possible to alter:

```<div class="table-container">```

To:

```<div class="table-container table-responsive">```

This would allow us bootstrap users to have responsive tables:

http://getbootstrap.com/css/#tables-responsive

Thank you =)

[2017-04-27 12:53] jieter commented on #436
Yes, but not as a default. We cannot instantly alter behaviour like this. We could add a `templates/django_tables2/bootstrap-responsive.html` template inheriting everything current `bootstrap.html` template except for the css class of the wrapper div.

You are welcome to open a PR adding a change along those lines.

[2017-04-27 13:03] bellwood commented on #436
Sure thing, thank you =)

[2017-05-01 06:45] #436 closed

[2017-05-02 10:23] ygwain opened #438 "Column titles language are not changing while changing it in runtime"
This happens in case if column's verbose name retrieved from a model field.
IMO: the problem is in "django_tables2.templatetags.django_tables2.title" that converts "lazy translation" object into unicode/str while app starting.

[2017-05-02 18:07] jieter commented on #438
Makes sense. Maybe decorating with `@keep_lazy(six.text_type)` (`from django.utils.functional import keep_lazy`) will help? Would be nice to have test for this too, are you able/willing to contribute

[2017-05-02 18:24] jieter commented on #438
Did a quick test, `keep_lazy()` is added in Django 1.10, so doesn't work in 1.9.

This is the working `title` tag:

[code]

[2017-05-02 19:22] ygwain commented on #438
Hi, yes I'm, will try to do it this week.

[2017-05-03 08:12] ygwain commented on #438
Why is it implemented as template tag? Couldn't find any usage of it in the
templates.

On Tue, May 2, 2017 at 9:24 PM, Jan Pieter Waagmeester <
notifications@github.com> wrote:

[2017-05-03 08:47] jieter commented on #438
Good question, no idea why. You maybe can find out why using `git blame`?

[2017-05-06 13:46] tobiasmcnulty opened #439 "bootstrap-responsive.html template missing pagination"
I think the new `bootstrap-responsive.html` template inadvertently strips out the pagination controls. Adding these lines may help:

    {% if table.page and table.paginator.num_pages > 1 %}
    {% block pagination %}
    {{ block.super }}
    {% endblock pagination %}
    {% endif %}

[2017-05-06 13:54] jieter commented on #439
Thanks for reporting, can you provide a pull request fixing this issue?

[2017-05-07 07:00] wil831 opened #441 "String with curly braces gives KeyError"
When Django_tables2 passes a value with curly braces (e.g. "Hello {world}") to string.format(), I get KeyError exception.

[2017-05-08 07:20] #439 closed

[2017-05-08 07:34] jieter commented on #441
@wil831 I'm not sure how to trigger this exactly, can you share a [minimal working example](https://stackoverflow.com/help/mcve)

[2017-05-08 20:20] wil831 commented on #441
See here http://stackoverflow.com/questions/43828265/django-tables2-keyerror-when-field-has-curly-brackets

[2017-05-08 22:16] bezkos opened #442 "Request.user inside render_FOO"
I try to use request.user inside render_foo like below but as i can see in DOCS, this argument isn't supporting there. Is there a way to do it or add this arg in future release?

[code]

[2017-05-09 06:45] wil831 commented on #441
Here's example, where record.title="some {string}"

`class DownloadColumn(tables.Column):
		def render(self, record):
...
                        artist1 = record.artist.name
                        referral_url= '<a href="abc.com">abc</a>
...
			return format_html(referral_url, artist=artist1, title=record.title) `

[2017-05-09 07:35] jieter commented on #441
@wil831 Thanks for sharing more details, but please try to share a minimal example that works. Your SO is quite long and has lots of unrelated details, your example above is nice and short, but your referral_url doesn't contain any formatting placeholders...

[2017-05-09 07:44] jieter commented on #442
Hmm, interesting request, I cannot think of a reason not to add the request to the table now, let me think about this a bit.

Apart from that, I'm not entirely sure what your use case is, but your `render_min`-method might not be the best performing solution. Can't you annotate the queryset passed to the table to have this field?

[2017-05-09 12:03] bezkos commented on #442
I couldn't find a way to have a table with 7 fields, grp by 1 of them, annotate (min) on another 1 and return a full queryset of 8 fields to pass it to django-tables2. Maybe this is possible with raw SQL i don't know.
If u could add Request OBJ as arg in render_FOO i could achieve it above way even if there is performing problem.

[2017-05-09 12:19] jieter commented on #442
As a quick fix, you can just save the request in the table object in your view, to fetch it later in your `render_min`-method

[code]

[2017-05-09 13:35] bezkos commented on #442
Thanks @jieter , your solution works.

Want to leave issue open so u will close it when u introduce new arg?

[2017-05-09 15:28] wil831 commented on #441
Updated

[2017-05-09 15:50] jieter commented on #442
I think this is easy enough to not require any implementation. I'll close.

[2017-05-09 15:50] #442 closed

[2017-05-09 15:56] jieter commented on #441
Why are you concatenating and then passing it to `format_html`? Shouldn't it be something like this:

[code]

Still, I think you should urlencode the values in your url though.

[2017-05-12 15:32] jieter commented on #441
@wil831 any update?

[2017-05-12 17:28] jieter commented on #352
Added [documentation about filtering](http://django-tables2.readthedocs.io/en/latest/pages/filtering.html)

[2017-05-12 17:36] #352 closed

[2017-05-15 12:16] #438 closed

[2017-05-17 17:52] pythonBerg opened #444 "fixed headers"
I am making good use of this package but am struggling with a good way to integrate fixed header capabilities to scroll. CSS is set and I can render using manual table code. I can make use of th and td attributes to line things up in DJ2 but have not found a way to pass a style="height:numPX" attribute into the body. Is there something I am missing? Is there a better to get scrolling to replace pa

[2017-05-18 14:03] jieter commented on #444
Hi @pythonBerg,

This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-tables2) and tag your question with `django-tables2`.

In this case, it's not really a django-tables2 related question. Did you try searching for something like `css fixed table header`?

[2017-05-18 14:03] #444 closed

[2017-05-19 17:59] gamesbook opened #445 "Support for Django 1.10, 1.11?"
The docs say:

[code]

Any plans to extend support to more recent, current versions?

[2017-05-19 18:13] #445 closed

[2017-05-19 18:14] jieter commented on #445
Yes, if you follow the [travis CI link](https://travis-ci.org/bradleyayers/django-tables2), you would see it's tested with 1.8, 1.9. 1.10 and 1.11.

Fixed in the readme now.

[2017-05-20 06:57] jieter commented on #441
Test in 96f95ac shows that this is not a bug.

[2017-05-20 06:57] #441 closed

[2017-05-20 12:04] gamesbook commented on #445
Thanks!

[2017-05-24 20:19] #114 closed

[2017-05-24 20:19] #403 closed

[2017-05-24 20:21] jieter commented on #70
fixed in 817d711 using the `extra_columns` argument

[2017-05-25 07:06] #70 closed

[2017-05-25 07:23] #166 closed

[2017-05-31 23:29] DHerls opened #446 "before_render Release"
Hello, when were you planning on releasing the next update with before_render and the ability to hide columns?  I'm working on a project that could really use those features.

Thanks!

[2017-06-01 05:06] jieter commented on #446
I can release today

[2017-06-01 07:48] jieter commented on #446
released [1.7.0](https://pypi.python.org/pypi/django-tables2/1.7.0)

[2017-06-01 07:48] #446 closed

[2017-06-01 22:11] DHerls opened #447 "before_render never called"
The method before_render found in TableBase is not called at any point during the render of tables tested with django-tables2 1.7.0 and django versions 1.11.2 and 1.10.4 using Python version 2.7.12

[2017-06-02 05:12] jieter commented on #447
Please show me the code you fail to see calling before_render, as it is indeed called in as_html:

https://github.com/bradleyayers/django-tables2/blob/master/django_tables2/tables.py#L600

[2017-06-02 05:15] jieter commented on #447
Also this test: https://github.com/bradleyayers/django-tables2/blob/master/tests/test_dynamically_add_show_hide_columns.py#L43

[2017-06-02 05:31] DHerls commented on #447
Yes it is in both those locations, however using the tag `render_table `doesn't call the `as_html` method on the table, so it never calls the `before_render` method.  All of the tests directly call the `as_html` method but the actual render_table tag does not, so `before_render` is never called in practice.

You can find an example project I made [here](https://github.com/DHerls/django-tables2-tes

[2017-06-02 05:47] jieter commented on #447
Oops, that's kind of stupid! Can you provide a PR fixing this?

[2017-06-02 06:08] #447 closed

[2017-06-02 06:08] jieter commented on #447
I managed to get it done in the amount of time I have before leaving: c5e7198

[2017-06-02 06:10] jieter commented on #447
released [1.7.1](https://pypi.python.org/pypi/django-tables2/1.7.1)

[2017-06-09 10:44] gabn88 opened #449 "[Idea] DRF compatibility"
Our project has a web interface, as well as a REST api. The REST API is build using DRF.

To create the REST API, one has to define serializers. These share a lot of similarities with model-based tables and I was wondering if in the future those could overlap?

Thinking even further, DRF also supports pagination and other features that overlap with django-tables2, so maybe the data generation part

[2017-06-09 14:07] jieter commented on #449
@gabn88 thanks for the idea. While this might sound reasonable at first thought and there are certainly some similarities between a `Table` definition and a serializer.

But Table-definitions are often full of customized column rendering logic, which would not make the serializer definitions clearer.

I'd say final sentence does make sense in some cases. I'm open to a PR (with tests and proper doc

[2017-06-10 12:06] jieter commented on #392
Part of what django-tables2-reports supported is now supported with (unreleased) `django_tables2.export.views.ExportMixin`:

[code]
Calling this view with `_export=csv` in the query string, will generate a CSV file representing the table data. Other values currently implemented are xls, xlsx, json, and yml.

[2017-06-10 18:55] jieter commented on #392
I'm going to close this for now:
 - column_shifter -> seems to be actively supported by @djk2
 - reports -> [`django_tables2.export`](http://django-tables2.readthedocs.io/en/latest/pages/export.html)
 - extras -> Not very clear what the benefit is, unmaintained
 - simplefilter -> http://django-tables2.readthedocs.io/en/latest/pages/filtering.html

[2017-06-10 18:55] #392 closed

[2017-06-11 08:06] gabn88 opened #450 "[Bug] sequence in combination with extra_columns does not show extra_columns"
If I have a table
[code]

a column:
[code]
and a view:
`table = MyTable(extra_columns=('myfield3',Field3Column))`

the table from the view will not contain Field3Column. However, by omitting the sequence on the Meta it does show the Field3.

[2017-06-11 08:08] jieter commented on #450
Interesting, thanks for reporting. Are you able to transform your example into a test case runnable in the test suite?

[2017-06-11 08:14] gabn88 commented on #450
I think the whole extra_columns attribute is untested in the test suite and needs testing. I'm not very good at writing tests, but I think a testcase that tests if extra_columns are actually added will catch this.

[2017-06-11 08:14] gabn88 commented on #450
Or is extra_columns not the preferred way to add extra columns in the view?

[2017-06-11 08:38] jieter commented on #450
There is one test here:

https://github.com/bradleyayers/django-tables2/blob/9bce89ca8c84b023daa48649ab2b113f074895f9/tests/test_dynamically_add_show_hide_columns.py#L36

[2017-06-11 08:51] jieter commented on #450
Just to be sure, this is not correct syntax. `extra_columns` must be a list of (name, column)-tuples.

[2017-06-11 12:51] gabn88 commented on #450
@jieter I have updated the example, you are correct, I just typed in the minimal example to demonstrate the problem from my head.

[2017-06-11 22:17] viseshrp commented on #47
what if I don't use a model and just want the row to change for a particular value in a particular cell?

[2017-06-12 13:45] jieter commented on #47
This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-tables2) and tag your question with `django-tables2`

However, `record` is just the item in the list the row is displayed for.

[code]
should also work.

[2017-06-13 15:33] jieter commented on #450
Failing test:

[code]

[2017-06-13 19:15] jieter commented on #450
[the `Meta` `sequence` gets `expand()`ed here](https://github.com/bradleyayers/django-tables2/blob/master/django_tables2/tables.py#L311). Looks like the reordering could be deferred to `TableBase.__init__()`.

[2017-06-13 19:26] #450 closed

[2017-06-13 19:28] jieter commented on #450
@gabn88 just pushed a fix, please test branch `master` by installing it using the zip file github provides:
[code]

[2017-06-13 19:48] jieter commented on #426
I've got no knowledge of django-haystack at all. If someone does have that, and has interest in fixing/testing django-haystack support in django-tables2, please let us know here.

Having a basic setup working in tests + travis would be nice.

[2017-06-14 13:27] zelenij opened #451 "Add additional attributes to td (and other elements) after the table was created"
Please take a look at this discussion on SO: https://stackoverflow.com/questions/44525828/django-tables2-updating-attrs-has-no-effect/44546087

In essence, I want to be able to inject some additional attributes into the td element after the table was created.  The table in question is based on a model, and therefore the columns are generated automatically, rather than being crafted one by one, pro

[2017-06-14 14:13] zelenij commented on #451
Upon further testing I can see that my hack doesn't actually work, so the problem is still open

[2017-06-15 06:52] jieter commented on #451
@zelenij thanks for reporting.
The suggestion in the stackoverflow answer was actually not that bad: you could do this with the `extra_columns` keyword argument:

[code]
will add the `style="color: red"` html attribute to the `<td>` tags rendered for this column. Does this support your use case?

[2017-06-15 14:16] zelenij commented on #451
It's a step in the right direction.  Is there an easy way to do the same generically on all the columns of an existing table instance?

[2017-06-15 15:30] jieter commented on #451
Not really. May I ask, what is your exact usecase?

Issue #253 might be another step? Thoughts?

[2017-06-15 18:04] gabn88 commented on #450
Thanks for the quick fix! I will test this now.

[2017-06-15 18:09] gabn88 opened #452 "Make extra_columns a 3-tuple"
extra_columns is currently a 2-tupe (name, ExtraColumn).

However, when you have translatable names, you would have for example:
`
(_('To be translated'), ExtraColumn)
`
In that case ordering does not work anymore.

It gives error:

[code]

It would be nice if you could enter:

`(_('To be translated'), 'to-be-translated', ExtraColumn)`

[2017-06-15 18:11] gabn88 commented on #450
It seems the bug is not solved with the latest release.

I still get a table with only 'name'. The other fields added via 'extra_columns' are still omitted.

[2017-06-15 18:21] jieter commented on #450
That's correct, not released yet.

[2017-06-15 18:24] gabn88 commented on #450
I mean with the master, I'm sorry, it was a busy day ;)

[2017-06-15 18:25] jieter commented on #450
hmm, can you provide a minimal test case like I did above demonstrating what fails?

[2017-06-15 18:26] gabn88 commented on #450
ok, will do :)

[2017-06-15 18:34] gabn88 commented on #450
hmm, stupid question, but how do I include django_tables2 WITH tests? Because now there are no tests in my site-packages/django_tables2/?

[2017-06-15 18:39] jieter commented on #450
Download the zip and add a test in the tests directory?

[2017-06-15 18:42] jieter commented on #452
What about:
[code]
(note that you must pass a `Column` **instance**, not a class)

[2017-06-15 19:09] gabn88 commented on #452
*- I'm using the released version (not master) -*

This does work for making a nice field. However when I try to sort the table based on the ExtraColumn I get the following error:

Template error:
In template /site-packages/django_tables2/templates/django_tables2/bootstrap.html, error at line 24
   Cannot resolve keyword 'name' into field. Choices are: *all model fields for the model, not includin

[2017-06-15 19:10] jieter commented on #450
Quite hard to see why if you only include part of a stack trace.

Can you:
1. `pip install -U https://github.com/bradleyayers/django-tables2/archive/master.zip`
2. show the definition of `MyTable` or whatever the name of the table is you try to add extra columns to
3. show the code initializing said table.

[2017-06-15 19:15] gabn88 commented on #452
Maybe disabling the sorting altogether for extra_column with a specific renderer would be the easiest way to solve this?

[2017-06-15 19:24] jieter commented on #452
Again, the definition of your table and the code to initialize it would be helpful while debugging this.

This table renders (and sorts) just fine:
[code]

[2017-06-16 11:13] pypetey opened #454 "[bug] local variable 'table' referenced before assignment"
If no tables are used MultipleTablesMixin then  you will get an error:

[code]

Which points to:
[code]

In my opinion context should be either intended or we should check if tables is not empty.

[code]

[2017-06-17 02:12] zelenij commented on #451
What I'm trying to do is to stamp on each td (cell) the name of it's header, in order to then use CSS tricks for nice rendering on mobile.  One description of the CSS trick is here: https://elvery.net/demo/responsive-tables/ (the last section on the page).

There are alternatives, for example I could use jQuery to achieve the same, but I prefer to restrict the usage of JavaScript as much as realis

[2017-06-17 08:07] jieter commented on #451
Interesting technique. Did you look into creating a custom template? for the django-tables2 table?

[2017-06-17 09:40] zelenij commented on #451
Yes, it's an option.  However, from that moment onwards I'll have to keep my custom template in sync with the "official" one, which over the long term might prove annoying.

[2017-06-17 10:14] jieter commented on #451
Yes, I understand. And I also think it should be easier to override attrs for columns table-wide. We already have `row_attrs`, we could also just add `column_attrs`...
But adding more and more to the `Table` constructor has its limits. So maybe someone can think of another way...

[2017-06-17 10:39] zelenij commented on #451
Maybe have a method which would allow to inject it?

[2017-06-20 11:05] codehelp opened #456 "Problem with TemplateColumn(template_name)"
If I use:
[code]
with django 1.10 and previous, it works but with 1.11 I get
`context must be a dict rather than RequestContext.`

If I embed the HTML from that file into the python code and call:
`actions = tables.TemplateColumn(template_code='{`

then 1.11 is happy.

Is this a problem with this line of TemplateColumn ?

[code]

Should that default be an empty dict?

[2017-06-20 11:54] codehelp commented on #456
I can change the table to have a `context` attribute and `{{ table.context }}` shows data, but django_tables2 1.2.0 doesn't seem to pick this up, even though I can do:
`>>> from lava_scheduler_app.tables import JobTable

['Meta', 'TableDataClass', '__class__', '__delattr__', '__dict__', '__doc__', '__format__', '__getattribute__', '__hash__', '__init__', '__module__', '__new__', '__reduce__', '__r

[2017-06-20 11:56] codehelp commented on #456
I made this local change to set table.context and get a working view in django 1.11:

`diff --git a/lava_scheduler_app/tables.py b/lava_scheduler_app/tables.py
index a9ebc2495..20e8e7a10 100644
--- a/lava_scheduler_app/tables.py
+++ b/lava_scheduler_app/tables.py
@@ -147,6 +147,7 @@ class JobTable(LavaTable):
         super(JobTable, self).__init__(*args, **kwargs)
         self.length = 25

+

[2017-06-20 13:07] jieter commented on #456
Hi @codehelp, thanks for taking the time to report an issue. But its contents ara a bit hard to parse for me.

From what I understand, you are getting error messages in some cases using the TemplateColumn together with Django==1.11.

Please make sure you have a recent version of django-tables2 (1.8.0 is the latest at the moment). If you still have an issue, please show us a minimal test case which

[2017-06-20 13:37] codehelp commented on #456
Hi, yes, we are getting HTTP 500 failures when using TemplateColumn with template_name instead of template_code. I've checked the code on the master branch for django-tables2 for TemplateColumn and there are no changes in the conditional for switching between rendering template_code versus rendering template_name comparing from what we currently have in Debian compared to what is on Github. Manual

[2017-06-21 12:00] jieter commented on #451
@zelenij while I was fixing this, it turned out to be kind of supported already, see #457.

Please test this by installing the branch using
`pip install -U https://github.com/bradleyayers/django-tables2/archive/td-attrs.zip`
and this syntax:

[code]

[2017-06-22 12:17] zelenij commented on #451
Yes, this seems to do the trick, thanks!

[2017-06-22 12:19] #451 closed

[2017-06-22 12:24] jieter commented on #451
released [1.9.0](https://pypi.python.org/pypi/django-tables2/1.9.0)

[2017-06-26 16:13] jacopsd opened #458 "Exporting tabes data with render_FOO column"
When exporting a table using this approach
https://github.com/bradleyayers/django-tables2/blob/master/docs/pages/export.rst

... a field rendered with the render_FOO technique remains empty in the export.

[2017-06-27 06:35] jieter commented on #458
Yes, you are right. Should be fixed (and tested).

[2017-06-27 06:57] jieter commented on #456
No. If I change that to this: `context = getattr(table, 'context', {})`, like you suggest, lots of tests fail. We currently test against 1.8, 1.9, 1.10, 1.11 and master. And have a [test using both `template_code` and `template_name`](https://github.com/bradleyayers/django-tables2/blob/master/tests/columns/test_templatecolumn.py#L14-L15).

Please try to narrow down your problem to a test runnable

[2017-06-27 07:43] jieter commented on #458
Just pushed ecfe1c4b5b412e2243251ca9197f718b8971f25c, which adds this logic.
- If `value_<name>` is defined, use that method to get the value
- If `render_<name>` is defined, use that method to get the value
- Finally, use the column's `value()`-method.

please test branch `master` by installing it using the zip file github provides:
[code]

[2017-06-27 08:22] jieter opened #459 "Exclude columns while exporting"
Something like this, but with a better implementation.

https://github.com/goinnn/django-tables2-reports/pull/20/files

[2017-06-28 08:03] asarbs commented on #321
I would like to reopen this issue. I had this one:

Request Method: 	GET
Request URL: 	http://127.0.0.1:8000/
Django Version: 	1.11.1
Exception Type: 	ImproperlyConfigured
Exception Value:

Tag {% querystring %} requires django.template.context_processors.request to be in the template configuration in settings.TEMPLATES[]OPTIONS.context_processors) in order for the included template tags to functi

[2017-06-28 08:09] jieter commented on #321
Does this help?

http://django-tables2.readthedocs.io/en/latest/pages/faq.html#how-should-i-fix-error-messages-about-the-request-context-processor

[2017-06-28 11:16] #452 closed

[2017-06-28 11:59] #459 closed

[2017-06-28 19:10] jacopsd commented on #458
Works fine, except when unicode characters are in the table (running under python 2.7 & django 1.8.16)

In that case, following error occurs:

UnicodeDecodeError at <myview>
'ascii' codec can't decode byte 0xc3 in position 9: ordinal not in range(128)
Request Method:	GET
Request URL:	<myurl>?_export=xlsx
Django Version:	1.8.16
Exception Type:	UnicodeDecodeError
Exception Value:
'ascii' codec can't

[2017-06-28 19:46] jieter commented on #458
Interesting.

I just added '毛泽东' to a table and tried exporting to csv, xls and xlsx. It just works. Can you provide some more detail? I tried with these versions:

django-tables2: current master.
python 2.7.10
Django==1.8.16
tablib==0.11.4

[2017-06-29 06:44] jieter opened #460 "Document exclude_columns for export"
Document `exclude_columns` for export:

http://django-tables2.readthedocs.io/en/latest/pages/export.html

[2017-06-29 08:33] #460 closed

[2017-06-29 08:42] jacopsd commented on #458
I had a European accent 'é' in one of the column titles and had the crash I
described.

D.

2017-06-28 21:46 GMT+02:00 Jan Pieter Waagmeester <notifications@github.com>
:

[2017-06-29 08:45] jieter commented on #458
Ah, I didn't try adding unicode to the headers. This is a failing test:

[code]

[2017-06-29 08:56] jieter commented on #458
Fixed in master (f44ebf2).

@jacopsd can you verify?

[2017-06-29 11:30] jacopsd commented on #458
Verified, OK
Thank you for the fix!

[2017-06-29 11:35] jieter commented on #458
thanks for checking, released [1.9.1](https://pypi.python.org/pypi/django-tables2/1.9.1).

[2017-06-29 11:35] #458 closed

[2017-06-30 09:43] arshsherdill opened #461 "Not getting the desired table"
![capture](https://user-images.githubusercontent.com/23432952/27730377-9ffa703a-5da6-11e7-8f9f-77babf752fcc.PNG)
I am getting a table like this

[2017-06-30 09:49] jieter commented on #461
@arshsherdill What would you expect? If you think this is a bug, please share more information: what is your setup? Versions of django, django-tables2, python.

If you are just asking for help: this is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-tables2) and tag y

[2017-06-30 12:25] #461 closed

[2017-07-03 07:41] jieter commented on #456
@codehelp any update?

[2017-07-03 08:07] codehelp commented on #456
I haven't had a real chance to test - the presenting problem is using the packaged django-tables2 and there are a few other steps required before the current django-tables2 master branch can be used with the full system. In the meantime, we've switched to using template_code only. I'm waiting for a new version of django-tables2 to be available in Debian which in turn needs a new version of tablib.

[2017-07-04 12:04] jieter opened #462 "Various export-related bits"
- [x] Document how to add export links.
- [x] maybe provide a template tag to generate the links?
- [x] What if there are multiple tables on a page?

[2017-07-06 23:54] ksk438 opened #463 "Import error when using virtualenv"
File "C:\Users\Administrator\Documents\Visual Studio 2015\Projects\...\env\lib\site-packages\django\__init__.py", line 27
, in setup
    apps.populate(settings.INSTALLED_APPS)
  File "C:\Users\Administrator\Documents\Visual Studio 2015\Projects\...\env\lib\site-packages\django\apps\registry.py", li
ne 85, in populate
    app_config = AppConfig.create(entry)
  File "C:\Users\Administrator\Documents

[2017-07-07 00:02] bezkos opened #464 "Issue with TemplateColumn/DateTimeColumn"
I have 2 models

[code]

I tried to optimize my code so i used Django Debug toolbar and in templates section i see:
Templates
mytemplate.html

Template Does Not Exist: None
{u'column': <django_tables2.columns.base.BoundColumn object at 0x000000000670FAC8>,
 u'default': u'\u2014',
 u'record': <B: B object>,
 u'value': datetime.datetime(2017, 7, 4, 16, 50, 21, 289000, tzinfo=<UTC>)}

Template Does N

[2017-07-07 06:08] jieter commented on #463
Should be written with an underscore: `django_tables2`

[2017-07-07 06:08] #463 closed

[2017-07-07 08:40] jieter commented on #464
[`DateTimeColumn`](https://github.com/bradleyayers/django-tables2/blob/master/django_tables2/columns/datetimecolumn.py) extends [`TemplateColumn`](https://github.com/bradleyayers/django-tables2/blob/master/django_tables2/columns/templatecolumn.py), so it makes sense this message is displayed for each row.

Not sure if this is something we can fix, but I'll leave the issue open and investigate if I

[2017-07-10 18:57] nicolasamaduro opened #465 "Export generate none ​​in Foreign Key values"
When I use the export sugested at http://django-tables2.readthedocs.io/en/latest/pages/export.html  (using table_view) the values ​​of the columns that are attributes of the model's foreign key are always None.

[2017-07-10 19:18] jieter commented on #465
@nicolasamaduro
Please provide more details of your specific situation. I just tried and it works like I expect. What do you see in the html table? What versions of python, django and django-tables2 are you using?

Please check the test I just added here: 229d7376366ee036d788ba4fb8bb0d201f2f10f9

[2017-07-10 20:49] nicolasamaduro commented on #465
@jieter
Thanks for the answer, it was my mistake.
I configured the table through the request wrongly.

[2017-07-10 20:52] #465 closed

[2017-07-10 20:54] jieter commented on #465
No problem.

It always helps to try to present your problem with minimal amount of code, it often surfaces your own mistake and helps to get maintainers up to speed.

[2017-07-11 06:10] jieter commented on #464
`None` in this context just means there is no actual file somewhere in the file system this template is loaded from. That is because the template is created from a string.

So this is expected behaviour.
We did try caching the `Template` object once, but that gave some problems together with cached template loaders, refs #75.

[2017-07-11 06:10] #464 closed

[2017-07-28 15:30] jieter opened #466 "Document Column.order"
Column.order is documented in its docstring but not in the custom ordering page:

http://django-tables2.readthedocs.io/en/latest/pages/ordering.html

It needs to get a mention there too.

[2017-07-28 15:31] jieter commented on #466
refs #453

[2017-08-07 00:43] codehelp opened #468 "Make tablib dependency optional?"
Version 1.8 and continuing into 1.10 adds Export support using tablib and I would like to request that this is made optional. The dependencies of tablib are a little extravagant, leading all the way down to the antlr Java runtime via some python libraries to support writing to Microsoft Excel formats.

* Remove tablib from requirements
* Add unittest.skipIf support to the relevant unit tests so th

[2017-08-07 03:47] jieter commented on #468
Tablib should already be optional and only required for running the tests. SkipIfs could be added, you are welcome to do so using a PR.

[2017-08-09 06:49] gbataille opened #470 "Render the TemplateColumn content when exporting"
Or provide a best practice :)

So here is my use case.
In some columns, I don't display the model/DB value straight but rather some HTML, like to make a project name a link to a project.
With the export feature introduced in 1.8.0, the TemplateColumn template is rendered to HTML BUT the HTML is not interpreted.

If I compare that to django_tables_report, they do evaluate the HTML and get rid of th

[2017-08-10 16:50] codehelp commented on #456
I've finally been able to test with django_tables2 1.10.0, after resolving the problems with providing tablib support. (see #469). I've tested with the modified code and with a reversion of that code. It's clear that the problem existed due to using an old version of django_tables2 alongside django 1.11. So this issue can now be closed.

[2017-08-10 16:50] #456 closed

[2017-08-15 11:12] jieter commented on #470
We already have something like this, it's called `value`... Every column has a `render()` and a `value()` method. In the default `Column`, `value()` just calls `render()`, as [documented here](http://django-tables2.readthedocs.io/en/latest/pages/api-reference.html#django_tables2.columns.Column.value)

A possible solution to the `TemplateColumn` case might be to do something like django_tables_repo

[2017-08-15 14:45] #468 closed

[2017-08-23 17:08] #470 closed

[2017-08-23 17:14] jieter commented on #412
I've been thinking about this lately: If every column has the ability to become clickable, that could be much clearer than the current set of options. We should think of use cases where the column 'text' already returns a link/button: Wrapping it in `<a>`-tags, wouldn't make sense. But maybe that's something a developer should just not do...

[2017-08-25 09:32] glasslion opened #474 "Null value are rendered as None when exporting"
For formats like csv, excel sheets, this default value really does not make sense. Would be better if it allows the user to customize the default value.

[2017-08-25 10:37] jieter commented on #474
Agreed. Are you willing/able to make a patch (including tests) and open a pull request?

[2017-08-30 06:33] simopaasisalo opened #475 "Tables overrides model's verbose_name with auto-capitalization"
Hi,

I have some columns in my table that use specified units, for example `Amount (mg)`. I have this defined in the model's `verbose_name`, and it shows as intended in for example Django Admin. However, in the table it shows as `Amount (Mg)`, with a capitalized M (going from millis to megas :) ). This is also a problem with different translations, since in for example Finnish we don't tend to cap

[2017-08-30 08:44] jieter commented on #475
I've be bitten by this too, but it's the way it was when I started maintaining this plugin. I'm open to changing this if there is a more sensible way, but it should be thought through, documented and tested well.

[2017-08-31 03:42] jiajianbo commented on #475
I think models is for datebase, if you use table for web ,I think you should set label like this "circleName = forms.CharField(label='CircleName', max_length=20)" , I hope can help you

At 2017-08-30 14:33:52, "Simo Paasisalo" <notifications@github.com> wrote:

Hi,

I have some columns in my table that use specified units, for example Amount (mg). I have this defined in the model's verbose_name, a

[2017-08-31 07:19] jieter commented on #475
verbose_name argument to model fields is not for the database either: it's used in ModelForms and the admin.

[django docs on Verbose field names](https://docs.djangoproject.com/en/1.11/topics/db/models/#verbose-field-names) state:

django-tables2 capitalizes every word of the verbose name. This is different from what django does, so changing it to the django default behavior makes sense to me.

[2017-08-31 15:50] #466 closed

[2017-09-01 20:02] jieter commented on #449
@gabn88 are you still interested in this? If not, I'll close this.

[2017-09-01 20:14] gabn88 commented on #449
I don't have time to do this myself and I think it would increase complexity of this module too much. Therefore it is closed

[2017-09-01 20:14] #449 closed

[2017-09-01 20:17] jieter commented on #449
Thanks for reporting back!

[2017-09-12 15:48] khirstinova opened #476 "No rows displayed with empty data collection but with pinned data"
If you pass an empty data collection into a table but you have pinned rows, the table doesn't display.  I tracked it down to the __len__ function of the BoundRows object, which is:

    def __len__(self):
        return len(self.data)

It should be more like this.  When I changed this, it rendered properly.

    def __len__(self):
        returnLen = len(self.data)
        if self.pinned_data.get(

[2017-09-12 16:08] khirstinova commented on #476
Ok, I see now in the comments of a test

# Important!
    # Length of data is three because pinned rows are not added to data list.
    # Pinned rows are added only in the iteration on BoundRows.
    # First object from rows is not BoundPinnedRow but BoundRow.

But them being excluded from len() means that the template will not iterate over rows if there are pinned rows but no data rows.  Will thi

[2017-09-15 07:04] jieter commented on #476
@khirstinova Thanks for looking into fixing this.

If we change the behavior, of course, the tests should also be changed to reflect the new behavior. Can you update the pull request

I think it's also nice to add a note to the pinned rows documentation that having a non-zero number of pinned rows will not result in an empty resultset message being rendered.

[2017-09-15 10:14] jieter opened #478 "update tutorial"
- [x] Show the output of the first example (without styling)
 - [x] Add links to customizing, like the TODO mentions.

[2017-09-15 12:58] khirstinova commented on #476
I will update the pull request and the documentation.  Thanks!

[2017-09-15 13:28] khirstinova commented on #476
Done.

[2017-09-15 14:19] #476 closed

[2017-09-18 12:32] jieter commented on #474
@glasslion Are you willing to work on this?

[2017-09-22 10:33] a13xmt opened #479 "No such table in example project"
Hi. When the last step from the following [README](https://github.com/bradleyayers/django-tables2/blob/master/example/README.md) is performing
[code]

the following exception is raised:
[code]

It seems like there is no migrations for `app` provided, so we need to add `python manage.py makemigrations app` somewhere.

[2017-09-22 16:56] jieter commented on #479
Looks like you are right. Would you be willing to make a patch and open a pull request?

[2017-09-24 07:34] #479 closed

[2017-09-29 10:39] trybik opened #481 "Add `as varname` to the `querystring` template tag"
Problem: use the generated `querystring` as an argument for other template tags, like `bootstrap_button`  from django-bootstrap3 package.

Soution: https://docs.djangoproject.com/en/1.11/howto/custom-template-tags/#setting-a-variable-in-the-context

[2017-09-29 10:48] jieter commented on #481
I'm willing to merge a patch adding this, if it's well tested.

[2017-10-04 15:42] khirstinova opened #482 "Template columns not rendered on pinned rows (maybe an issue?)"
I don't know if this is considered an issue or not because the code for rendering columns in pinned rows explicitly renders only the value.  in rows.py, for BoundPinnedRows

        def _get_and_render_with(self, name, render_func, default):

                accessor = A(name)
                value = accessor.resolve(context=self._record, quiet=True) or default
                return value

This h

[2017-10-05 11:11] jackton1 commented on #321
Late but if your using  `render_to_string` you'll need to pass an instance of HttpRequest

[2017-10-05 12:47] jieter commented on #482
Thanks for opening an issue, @khirstinova.

I see why this might confuse someone. I'm not sure which was first: pinned rows or the value/render distinction, anyway, it might not have been implemented completely in the pinnen rows feature.

Maybe @djk2 has an opinion on this?

I'd say this is just something to be fixed, if you can, please make a patch with proper test coverage.

[2017-10-05 14:05] djk2 commented on #482
I will try looks on problem maybe in weekend.
I not promise anything

[2017-10-05 16:56] khirstinova commented on #482
I submitted a pull request with an added unit test on TemplateColumn.

The python 3.4 and 3.6 CI jobs seem to fail, but I can't trace anything in the output to what I did.  Honestly, tox is flakey as hell in my environment too.  Again, let me know what you think.

[2017-10-05 17:04] khirstinova commented on #482
Why would django throw an invalid syntax error in 3.4 only?

[2017-10-07 03:00] devang-kredx commented on #321
Not using `render_to_string` but still getting this error

[2017-10-07 08:14] jieter commented on #321
@devang-kredx Can you also show the code which renders your table? (view + template)

[2017-10-07 08:21] jieter commented on #482
Fixed by #483 and 9fa47f7

[2017-10-07 08:22] #482 closed

[2017-10-07 09:25] devang-kredx commented on #321
Hi, following is the view-

[code]

Following is the template being rendered for the table:
template.html
[code]

inclusion_tag for show table
[code]

table.html
[code]

[2017-10-07 10:25] jieter commented on #321
If you have a look at the first few lines of code in the template tag `render` method: https://github.com/bradleyayers/django-tables2/blob/8cd3470496b564c78ca94298b3588e1e79f5600f/django_tables2/templatetags/django_tables2.py#L58-L60

You'll see the context it gets does not contain a `request` key.

I do not know your reasons to use a Class based view in a function view, nor why you use the `inclu

[2017-10-08 04:32] devang-kredx commented on #321
@jieter - Thanks for pointing out the place where the issue could have arrived. The reason to use Class based view inside a function view is that I was just trying out to see if django_tables2 would work for us to replace our existing tables, and if so then we can change the functional view to class based view completely.

I understand Github issues is not the best place to ask questions around co

[2017-10-08 07:02] jieter commented on #321
Thanks for understanding.

Note that it's also possible to use the tables without using the CBVs django-tables2 provides.

[2017-10-08 07:33] devang-kredx commented on #321
True, that's how we tried it first. But then we also wanted filtering on
the tables, for which the only option we saw was by using a CBV.

On Sun, Oct 8, 2017, 12:32 Jan Pieter Waagmeester <notifications@github.com>
wrote:

[2017-10-09 13:20] genghisken opened #485 "No longer able to manually reference column values when iterating through a rows in a template"
Hi

I came to django_tables2 via django_tables.

There are a few occasions when I want to manually iterate through the columns of each row of a table in my template.  I've always done this using (e.g. for the det_id column):

[code]
It's worked OK in my code for years - on Django 1.9 and django_tables2 1.1.1

However, I recently upgraded to django_tables2 1.10, and this no longer works.  (The vari

[2017-10-09 14:02] jieter commented on #485
This is how the supplied template iterates over the rows and columns:

https://github.com/bradleyayers/django-tables2/blob/8cd3470496b564c78ca94298b3588e1e79f5600f/django_tables2/templates/django_tables2/table.html#L24-L38

So I'd say something like this should work:
[code]

[2017-10-09 14:21] genghisken commented on #485
Hi - many thanks for your response. My problem is that I just want to refer a subset of values from a subset of cells.  E.g. how do I just print out the values of "det_id", "x" and "y"?

[2017-10-09 14:24] jieter commented on #485
Like this:

https://github.com/bradleyayers/django-tables2/blob/8cd3470496b564c78ca94298b3588e1e79f5600f/tests/test_rows.py#L46-L49

[2017-10-09 15:50] genghisken commented on #485
I know how to do that in Python, but I need the template syntax.  Are you saying that I need to refer to (e.g.) row.record.det_id, row.record.x, row.record.y?  This is fine, but it also means that I have to follow the foreign keys from the underlying record. (So why bother with tables at all?)  Surely part of the point of creating a table with fields that join more than one underlying model is tha

[2017-10-09 17:16] jieter commented on #485
I see, I was not thinking your use case through. You are the second one to report that you need to access the keys in templates, so apparently, django-tables2 is useful without having that.

The reason we removed the magic which allows `row.column_name` was that it did not allow a column named `items`. We could bring back some property allowing access to cell values, something like `row.cell.colum

[2017-10-12 12:59] it-management opened #486 "Sequence with extra_columns can leads to KeyError"
When I dynamically add extra columns in `__init__` it leads to "KeyError" if dynamic column is missing.

[code]

When user "is_staff", link to admin interface is added. If I (in a second window) remove this feature from a user and refresh the first window "KeyError" is shown and it complains about missing column named "admin_link".

If I move "sequence" from Meta to `__init__` everything works jus

[2017-10-13 01:57] huyx opened #487 "In example: tablib should in requirements.pip"
When I run `python manage.py migrate`, the following error message appeared:

[code]
Thanks.

[2017-10-13 16:36] jieter commented on #487
@huyx Interesting.

I left it out on purpose: it has quite a lot of requirements itself, so if you don't need export functionality, you save some download/build time by not including it. It should not be called if you don't use it though, can you share a bit more about the context these error messages occur in?

[2017-10-13 16:43] jieter commented on #486
@it-management thanks for reporting, if I understand correctly, order of operation in the table constructor should be different.

If you are able to isolate your usage into a test, that would be really helpful.

As a sidenote: you can use `*args, **kwargs` and `super().__init__(data, *args, **kwargs)` to save you from repeating the whole list of arguments and prevents incompatibility problems if a

[2017-10-13 16:44] jieter commented on #485
@genghisken would `row.cell.column_name` work for you?

[2017-10-14 06:25] jieter commented on #487
Ah, I totally missed 'in example', makes sense!

[2017-10-14 12:34] jieter commented on #487
@huyx thanks, fixed by d77fe57.

[2017-10-14 12:34] #487 closed

[2017-10-16 11:57] it-management commented on #486
I will try to write a test, but I am a newbie in tests, so is it the right procedure?

- clone this git repository incl.tests
- write new test
- send you info about

BTW>Arguments to `__init__` are made by my IDE and with `*arga, **kwargs` I lose intellisense for params. If there is something changed in params, the IDE recognize it and tell me. :)

[2017-10-17 08:18] jieter commented on #486
@it-management looks like a good way to do it. Your third step can be either pasting the test your managed to create here, or [open a pull request](https://help.github.com/articles/creating-a-pull-request/)

[2017-10-17 10:27] genghisken commented on #485
Yes - that would be great!

[2017-10-17 13:59] djk2 opened #488 "forloop.counter not render in Django1.10 for TemplateColumn"
django-tables2==1.0.4

[code]
for Django 1.9.13 it works fine.
for Django 1.10 **forloop** not exist in table.context and not rendered correctly

Have you any idea?
I spent on this problem 8 hours trying solve it.

[2017-10-17 14:47] jieter commented on #488
so with the exact same version of django-tables2, different django versions show this behaviour?

[2017-10-18 05:57] djk2 commented on #488
Exactly, different django versions show this behaviour.

[2017-10-18 09:44] jieter commented on #488
can you maybe supply a simple test case?

[2017-10-18 09:47] jieter opened #490 "filterted table documentation"
- [ ] show template example: how to display filters
 - [ ] not two *View, but one mixin or two mixins and a view.

[2017-10-18 10:31] djk2 commented on #488
I will prepare unit test today evening.

[2017-10-19 08:12] #490 closed

[2017-10-23 12:34] piotr-z3s opened #491 "Disable titlized/capitalized colum headers"
Hi

I've tried to disable titlized/capitalized column headers.

Is there a simple way to do it?

[2017-10-23 20:06] djk2 commented on #488
For current master I can't reproduce this error.
Templatetag forloop.counter is never render in TemplateColumn.
I tested for all supported Django versions and current DjT2 can't render forloop. In past that feature works fine.
This was very helpfull for generate css ids for JS.

[2017-10-24 10:53] jieter commented on #491
#475 contains some discussion about how this could be done.

[2017-10-24 10:56] jieter commented on #488
I think it makes sense to add a context variable containing a counter without counting on the template context leaking through... What do you think?

If you have time, feel free to open a PR.

[2017-10-30 09:58] jieter commented on #488
As of version `1.14.2`, a template variable `row_counter` is available.
[code]
[1.14.2](https://pypi.python.org/pypi/django-tables2/1.14.2) is released.

[2017-10-30 11:07] jieter commented on #486
@it-management any progress with the test?

[2017-10-30 14:36] #488 closed

[2017-10-31 09:13] #481 closed

[2017-10-31 11:13] #478 closed

[2017-10-31 11:35] jieter commented on #474
This is actually a bug in tablib: https://github.com/kennethreitz/tablib/issues/121
Which should be fixed according to https://github.com/kennethreitz/tablib/pull/155.

The problem is, tablib is barely maintained :(

[2017-11-03 20:24] anand853 opened #494 "I see no data in the html"
![screen shot 2017-11-03 at 4 22 53 pm](https://user-images.githubusercontent.com/3404193/32394419-6ffa53bc-c0b3-11e7-8d1b-c1502e4fcc7a.png)
here is the code

views.py
[code]

people.html
[code]

models.py
[code]

[2017-11-04 20:35] jieter commented on #494
The tutorial omits adding the view to `urls.py`, dit you do that?

[2017-11-07 08:16] shlomoa opened #495 "Add control over pagination style and style in general"
Honestly I feel embarrassed to request instead of contribute, nevertheless
improved pagination control and style would improve usability

[2017-11-07 08:53] jieter commented on #495
@shlomoa It would help if you elaborated your request a bit more. In what way should the current template be improved? Please explain/support with screenshots what you want/need.

[2017-11-13 10:09] #494 closed

[2017-11-14 10:41] jieter opened #497 "CSS className of related columns"
If I use
[code]

django-tables renders this as header:
[code]
which is apparently [possible to query](https://stackoverflow.com/questions/3447329/styling-elements-with-a-dot-in-the-class-name), but not very standard.

dot should be replaced by a dash (-).

[2017-11-14 10:56] jieter opened #498 "Related columns added through Table.Meta.fields don't get the correct type."
[code]

[code]

`category.i18n` is also a `JSONColumn`.

[2017-11-15 00:21] mpasternak opened #499 "There is no CSS class for footers"
Hi,

while trying to use CSS to style columns to right-align text, I noticed, that the columns in the footer do not have proper class attribute.

<img width="224" alt="zrzut ekranu 2017-11-15 o 01 19 05" src="https://user-images.githubusercontent.com/598469/32812005-111b19c8-c9a3-11e7-8d11-d1a08fe2aa0f.png">

Do you think this is a bug and do we want to add class attribute to footers too?

If "yes

[2017-11-16 09:26] jieter commented on #499
I think yes, yes.
Maybe you can tackle #497 while doing that too?

[2017-11-16 17:49] Asday opened #500 "Add support for attrs on single cells."
I have a `Column` as such:

[code]

This was questioned in a PR, as it seemed "hacky".  I was pointed to `row_attrs` in the `Meta` of a `Table`, but I do not want to add a class to the whole row, just this column.

Is there a better way to do this?  It feels like I should be able to do something like this:

[code]

[2017-11-16 19:50] mpasternak commented on #499
Sounds reasonable, give me a few days then.
—
📱+48793668733 📧 michal.dtz@gmail.com

[2017-11-17 13:08] mpasternak commented on #499
Hi,

I'm working on my issue, eg. this issue, #499.

I think that we need to do work in phases, first phase is to fix #499.

THEN I'll take care of the not-exactly-optimal CSS class names for columns, because I think those need to be well described in the docs. Also I'm thinking of leaving the current behaviour because of backwards compatibility. If someone depends on the class names and the colum

[2017-11-17 13:13] jieter commented on #499
you are right, we should use a sensible upgrade path and not suddenly break things, looking forward to your PR(s), help is really appreciated!

[2017-11-19 18:13] jieter commented on #500
Column attributes: http://django-tables2.readthedocs.io/en/latest/pages/column-attributes.html#id1

[2017-11-19 22:22] Asday commented on #500
I'm not at the interpreter now so I can't check, but am I wrong in thinking that will set the same attr on every element?

I want to be able to set a class on a single cell, based upon its contents.  Say, for instance, I have a column that has a payment status, `accepted` or `declined`, and I want to colour the cell green or red in CSS.  I want to have `<td class="status-accepted">Accepted</td>` f

[2017-11-20 06:44] jieter commented on #500
You are right, but this API also accepts callables, like tested here: https://github.com/jieter/django-tables2/blob/8fd5b06f113ddad199bfb3db6f353cb0fc835845/tests/columns/test_general.py#L429

[2017-11-20 09:52] Asday commented on #500
I've tried the following on the column, and none had any effect.  What am I missing?

* `attrs = {'cell': {'class': lambda value: f'status-{value}'}}`
* `attrs = {'td': {'class': lambda value: f'status-{value}'}}`
* `attrs = {'cell': {'class': lambda table: f'status-{len(table.data)}'}}`

[2017-11-22 10:07] jieter commented on #500
@Asday The problem of the current implementation is that it only passes `table` and `column` to the callable, as a value/record is not available where they are called. I tried to clarify the documentation a bit on calculated attributes, and checked your example in the above linked test.

When I define a table like this:

[code]

I get html containing this:

[code]

[2017-11-22 10:20] Asday commented on #500
My apologies, I don't think I've been clear.

I do not wish to define this on the table.  This functionality is the column's responsibility, and I've written a `Column` subclass to encapsulate it.  This can then be included by any `Table` without the user having to remember to set the attrs.

My solution in the opening post works, but was deemed "hacky" or "ugly" by my peers, and gave me pause for

[2017-11-22 10:33] jieter commented on #500
Hmm, apart from what the callable gets, allowing the `attrs` attribute to be set on the `Column` subclass is easy to fix and makes sense:
[code]

This will allow:
[code]
Still need to figure out if we can add the record/value to the passed attributes.

[2017-11-22 10:44] #241 closed

[2017-11-22 10:49] jieter commented on #241
Now (in master) available like this:

[code]

[2017-11-22 10:50] jieter commented on #495
Please reopen with a more detailed explanation.

[2017-11-22 10:50] #495 closed

[2017-11-22 11:16] jieter opened #502 "inconsistency between BoundColumns.__iter__ and BoundColumns.items"
BoundColumns.__iter__  -> `self.itervisible()`
BoundColumns.items -> `self.iterall()`

[2017-11-22 17:05] jieter opened #504 "Ditch py.test and use django testrunner."
Some work but will make the test suite more familiar for people used to writing tests using the django-provided infrastructure.

[2017-11-22 17:05] jieter commented on #500
refs: #503

[2017-11-23 15:59] #500 closed

[2017-11-23 16:25] aklaver opened #505 "New version error"
Thanks for the new version. Just a heads up, the version in CHANGELOG.md  is listed as 0.15.0 and there is no release date.

[2017-11-23 17:09] #505 closed

[2017-11-23 17:11] jieter commented on #505
@aklaver thanks for creating the issue, fixed with 5e8cc7e.

[2017-11-26 02:10] isolationism commented on #499
:+1: on this. Is there any workaround to pass class or attributes to the table footers in the meanwhile?

[2017-11-26 08:57] jieter commented on #499
I'll merge and release #499 on monday

[2017-11-26 08:59] mpasternak commented on #499
@isolationism I have found none, this is why I came up with this PR. It basically involves messing with the template and with the code. So I basically um like did both here

@jieter HOORJ & thanks for your helpful comments, I appreciate the time you took to review my code!

[2017-11-26 10:37] esifakis commented on #420
sorry, i have been struggling with this also.  @DaveRev , did you ever find a resolution to this?  any ideas @jieter

[2017-11-26 11:12] jieter commented on #420
@esifakis like I said, stack overflow is better suited to support requests like this. You need to provide more context or the only thing we can say is 'works for me'.

[2017-11-26 14:50] shlomoa commented on #495
It looked like a missing thing, but apparently it was in my code.
Next time I'll make a contribution, cheers!

[2017-11-26 18:14] esifakis commented on #420
thanks @jieter
i posted here if you can take a look:
https://stackoverflow.com/questions/47499220/django-tables2-header-row-urls-wrong-cant-sort

[2017-11-27 07:41] #499 closed

[2017-11-27 07:57] jieter commented on #499
released [1.16.0](https://pypi.python.org/pypi/django-tables2/1.16.0)

[2017-11-27 10:50] mpasternak commented on #499
👍 good job and thanks for the review

[2017-11-30 08:12] mpasternak opened #506 "docs are obsolete"
Looks like the docs are still old there,

perhaps there's a problem with the build.

https://django-tables2.readthedocs.io/en/latest/pages/column-attributes.html

[2017-11-30 13:36] mbertheau commented on #475
Just for reference, titlization was removed in #187, then added again in #249, #368, #382.

[2017-11-30 14:07] jieter commented on #506
Seems to be fixed now: https://django-tables2.readthedocs.io/en/latest/pages/column-attributes.html#id1

[2017-11-30 14:07] #506 closed

[2017-12-02 16:54] jieter commented on #504
python 3.3 is not supported anymore by pytest==3.3: https://github.com/pytest-dev/pytest/issues/2812

[2017-12-05 13:17] ad-m opened #510 "ImportError: cannot import name 'SortedDict'"
See https://github.com/django/django/commit/c820892eed9ea10879270e64e8109dc44829756a#diff-f61cccc2a02c84d08ff7d28f87590566 .
[code]

[2017-12-05 13:48] jieter commented on #510
cb71f869bbc8aac3a14f3d4d1f67641e21892bba should have fixed that long ago, your output shows you are using `django-tables2==0.14.0`, current version is 1.16.0.

[2017-12-05 13:48] #510 closed

[2017-12-05 13:56] ad-m commented on #510
I'm sorry, I used a fork that's a lot back. My mistake. I apologize for unnecessary noise.

[2017-12-05 16:15] jxrossel opened #511 "Call to model "__str__" when rendering a table with custom column"
Hi,

When rendering a table associated with a model, the model "__str__" method is called for each row. In my case, this leads to many unnecessary queries (or the need to use "select_related" for undisplayed data). Can this be avoided ?

[2017-12-05 16:17] jieter commented on #511
@jxrossel Can you share a minimal example for the models/table to reproduce this?

[2017-12-06 09:15] jxrossel commented on #511
[code]

The problem occurs only if `edit` is defined as a custom column with custom rendering. If `edit` is removed and `render_edit` is replaced by `render_name`, it doesn't occur

[2017-12-11 18:29] jieter opened #513 "add extra_require to setup.py for tablib."

[2017-12-13 15:36] jieter commented on #511
This is a failing test without relying on `print` statements:
https://github.com/jieter/django-tables2/compare/str-test?expand=1#diff-327b130c82fa4e83e97f6c1a50a0da1cR465

[Stack trace](https://gist.github.com/jieter/436bff46963bdd7840a200300477fcb5) leads to

https://github.com/jieter/django-tables2/blob/8344601bea01774b84000280843d59c8372ddf75/django_tables2/rows.py#L234

[2017-12-13 16:31] jieter commented on #511
The problem is: `__repr__` is called in https://github.com/jieter/django-tables2/blob/8344601bea01774b84000280843d59c8372ddf75/django_tables2/utils.py#L333, which in turn calls `six.text_type(self)` in the default implementation.

While I think this should be fixed, I also think your model's `__str__` method should be relatively cheap to execute, or if it is, it should cache it's return value.

[2017-12-13 16:42] #511 closed

[2017-12-14 07:23] jxrossel commented on #511
Thanks! Well, in my case, the __str__ is not really expensive, but it requires multiple joins that I didn't need for this particular table. Thanks again for your work on django-tables2!

[2017-12-14 11:28] #504 closed

[2017-12-14 11:28] #428 closed

[2017-12-14 11:28] #474 closed

[2017-12-14 11:36] jieter commented on #474
I added two tests exporting to CSV: one with a list of dicts and one with a non-existent foreign key column:

https://github.com/jieter/django-tables2/blob/master/tests/test_export.py#L56-L88

Seems to work as far as I can see, at least as far as we can do something about it.

[2017-12-14 13:09] jieter commented on #426
I'm removing the dependency on haystack in the tests: there is no actual test testing for django-haystack support.

I'm open to re-add explicit support, but only with proper testing.

[2017-12-14 13:09] #426 closed

[2017-12-14 13:23] jieter commented on #511
released [1.17.0](https://pypi.python.org/pypi/django-tables2/1.17.0)

[2017-12-14 13:24] jieter commented on #513
apparently, I did not add the correct `extra_require` definition.

[code]

[2017-12-14 16:24] jieter commented on #513
Fixed:
[code]

[2017-12-14 16:24] #513 closed

[2017-12-14 16:26] jieter opened #516 "tests: see if mock can replace fudge"

[2017-12-14 17:29] jieter opened #517 "Consider adding warnings"
# Warn if `if data.model != Table.Meta.model`,
Could look like this: `TableData.from_data()`

[code]

# `Table.Meta.exclude`-like tuples are not a tuple but a string:

https://stackoverflow.com/questions/43713903/django-tables2-exclude-field-not-working/43842254

[2017-12-14 17:34] #498 closed

[2017-12-21 11:55] jieter commented on #481
Nice!

[2017-12-22 23:04] kamranhossain opened #519 "Django 2.0 support!!!"
Will it work with Django 2.0 soon? Or Django 2.0 doesn't within recent plans? Thanks.

[2017-12-23 18:49] jieter commented on #519
Already tested against Django 2

[2017-12-23 18:50] #519 closed

[2017-12-28 11:47] dyve opened #520 "Change template to template_name to conform to Django standards"
In Django views, `template_name` is used to indicate a (non-default) template. In `django-tables2` I have to use `template`. I think adhering to the Django naming convention would be better.

[2018-01-01 06:32] kumar-tku opened #523 "in the example code, hyperlinks in bootstrap and semantic ui result in 404 error"
I followed instructions README.md file in example folder. Could see the table rendered in http://localhost:8000/semantic/

Then clicking on a hyperlink in Country column shows Page not found error.

[2018-01-01 12:52] jieter commented on #523
Thanks for reporting, I'll have a look

[2018-01-02 14:55] #523 closed

[2018-01-02 14:57] jieter commented on #523
@kumar-tku You are right, just pushed a commit adding a view.

[2018-01-04 10:07] #520 closed

[2018-01-04 10:41] jieter opened #526 "New major release 2.0"
We have accumulated some things that need cleanup, so planning for a 2.0 release to apply these cleanups, introducing some breaking changes. In no particular order:
- [x] Template cleanup #525
- [x] Remove deprecated `template` arguments (depending on when 2.0 happens, it might be too soon)
- [x] Stop adding the column name to the css classes by default refs #370

We also need to do:
- [x] Proper

[2018-01-04 11:29] Tzaoh opened #527 "Error installing with python2+django 1.11"
Hello,

Due some requirements I am forced to use python2, which forces me to use django 1.11.
$ pip install 'django==1.11'

But when I try to install django-tables2 it seems to try to use django2, causing a fail installation.
any workaround, solution?
[code]
Thanks

[2018-01-04 11:47] Tzaoh commented on #527
For the moment I have just update the setup.py using:
`"install_requires=['Django==1.11'],"`

I guess this shouldnt be the best solution so Im keeping the issue opened for the moment

[2018-01-04 12:58] jieter commented on #527
If you also specify django while installing django-tables2, it works for me. You can also consider using a requirements.txt file and use `pip install -r requirements.txt`

[code]

[2018-01-04 12:58] #527 closed

[2018-01-09 10:22] trybik opened #528 "Define and use `get_table_data` in `MultiTableMixin`"
`SingleTableMixin` uses `get_table_data`, which allows to override and define object list or queryset dynamically on top of the default `table_data` class attribute. `MultiTableMixin` uses only the latter, whereas for consistency it could also use [same impl. of `get_table_data`](https://github.com/jieter/django-tables2/blob/master/django_tables2/views.py#L86) (expecting list of appropriate length

[2018-01-11 11:06] jieter commented on #528
@trybik you are right, `MultiTableMixin` can use some attention. Do you have time to open a PR adding a `get_table_data` method including documentation and tests?

[2018-01-11 15:12] trybik commented on #528
I have no time whatsoever in life, but since this is a very small change I'll try to make my open-source duty and squeeze in a merge request (incl. tests).

[2018-01-11 18:39] usajusaj opened #529 "Ordering of missing values for ListData"
Missing values in List of dicts table are pulled to the top when using ascending sorting. This might be unexpected for some users, therefore it would be convenient having an "order_null_last" or similar parameter in table meta/kwargs.
I've made a hard-coded quick fix in a fork here: https://github.com/usajusaj/django-tables2/commit/ec27b7ff5915bee1fc0c431c00696599c9107311
but that's far from being

[2018-01-12 01:55] ShuichiSyad opened #530 "'module' object has no attribute 'RadioColumn'"
I got this error when trying to run my project.

    AttributeError: 'module' object has no attribute 'RadioColumn'

Here's the code in my tables.py

    import django_tables2 as tables
    from .models import Meetingroom

    class RoomTable(tables.Table):
        selection = tables.RadioColumn(accessor='pk')
        room_type = tables.Column(orderable=False)
        room_dscp = tables.Column(ord

[2018-01-12 05:32] jeffkod commented on #530
It is because there is RadioColumn attribute for tables. you could check it with dir(tables) in code/notebook for by checking out the API docs.https://django-tables2.readthedocs.io/en/latest/pages/reference.html

The available attributes are

['A',
 'BooleanColumn',
 'CheckBoxColumn',
 'Column',
 'DateColumn',
 'DateTimeColumn',
 'EmailColumn',
 'FileColumn',
 'JSONColumn',
 'LinkColumn',
 'ManyTo

[2018-01-13 21:07] jieter commented on #530
This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-tables2) and tag your question with `django-tables2`.
Please also link to any tutorials/examples used when asking your question.

[2018-01-14 15:35] #530 closed

[2018-01-15 22:11] ismt opened #531 "Incorrect {% trans 'next' %}"
Django 1.11.9          django_tables2  1.17.1

In template django_tables2/bootstrap.html
[code]

in python3.6/site-packages/django_tables2/locale/ru/LC_MESSAGES/django.po

[code]

{% trans 'next' %}  and msgid "Next"  _next_ in different cases and translation not work

in .po files and in template need one case for translated words
for example {% trans 'Next' %}
[code]

[2018-01-23 19:42] pachewise opened #534 "current_record/current_value checks on column fail when __bool__ errors out"
https://github.com/jieter/django-tables2/commit/b69f044acfac9b514b8fb0f523cb22fa94435043#diff-25e633ca747f8a644f21933a452550f2R320

if the object in 'current_value' has a `__bool__` that raises an error, this check will error out. This hasn't happened to us, but it could also be possible that the `__bool__` is defined to return false (or the object is falsy in some other way), in which case the ch

[2018-01-23 19:49] pachewise commented on #534
it looks like a workaround is to specify a `render_<column>` method that returns something Truthy.

[2018-01-25 11:59] jieter commented on #534
Hmm, interesting case.

Are you willing/able to provide a test case and a patch to fix this issue?

[2018-01-26 17:23] pachewise commented on #534
Yeah, I can tackle it this weekend.
On Thu, Jan 25, 2018 at 7:59 AM Jan Pieter Waagmeester <
notifications@github.com> wrote:

--
- José

[2018-01-27 10:25] synw opened #535 "Save tables to html files"
How could I save the tables as independent html files?

In my user case I must save each table to a different html file to be assembled later in templates. The html files are periodically regenerated as the data changes. Would it be a clean way to do this?

[2018-01-28 08:55] pachewise commented on #534
see #536

[2018-01-28 13:31] #534 closed

[2018-01-29 08:40] jieter commented on #535
I you only need one page and don't expect sorting to work it's straightforward. Just render a template containing your table to string (for example using [`render_to_string`](https://docs.djangoproject.com/en/2.0/topics/templates/#django.template.loader.render_to_string). Django-tables2 needs a request to work, which you can fake using

https://github.com/jieter/django-tables2/blob/632a95266e6eca9

[2018-01-29 08:40] #535 closed

[2018-02-02 10:55] jieter commented on #485
After some delay, it's in there: released [1.19.0](https://pypi.python.org/pypi/django-tables2/1.19.0)

`table.rows[0].cells.cellname` or
`table.rows[0].cells[cellname]` or
`table.rows[0].cells[idx]`

[2018-02-03 17:01] cortical-iv commented on #495
I came here expecting shlomoa to be asking for control such as numbered pagination like you have in bootstrap (e.g., instead of next and previous, it would be really nice to have a set of page numbers displayed so users can click). E.g., if there are six pages it would be nice to click '4 instead of clicking 'Next' six times.

[2018-02-03 17:57] jieter commented on #495
I'm working on this in #525

[2018-02-03 18:02] cortical-iv commented on #495
Very cool thanks for the reply!

[2018-02-14 21:16] jieter commented on #529
Fixing the edge-cases of sorting `ListData` is not something very high on my list, as we use the database to do the sorting in most if not all of our production code. If someone has the need, patches are welcome, but make sure to include proper testing.

[2018-02-15 08:45] jieter commented on #528
Fixed in #538

[2018-02-15 08:45] #528 closed

[2018-02-16 14:47] #516 closed

[2018-02-16 15:30] jieter commented on #462
maybe provide a template tag to generate the links? -> added in master.
What if there are multiple tables on a page? -> not explicitly supported yet.

[2018-02-16 15:30] #462 closed

[2018-02-21 21:50] bezkos opened #539 "Pagination Start Index and End Index"
I don't know if this is possible atm but i think a good feature ll be to have some page range options for pagination in RequestConfig like:

RequestConfig(request, paginate={'per_page': 300, 'start_index': 5, 'end_index': 10}).configure(table)

[2018-02-22 11:28] jieter commented on #539
@bezkos I'm not really sure what you mean by the start/end index options, but if you think it's a useful feature, please open a PR with proper documentation and tests to implement it.

[2018-02-22 13:23] bezkos commented on #539
For example we have a queryset with 10k records. With per_page option set to 1000, we have a total of 10 pages. If someone want to pass only first 5 pages for presentation with djt2 then he can do start_index=1 and end_index=5 in requestconfig.

[2018-02-22 14:16] jieter commented on #539
Hmm, and what about sorting then?

[2018-02-23 19:45] mykljohn opened #540 "[Question] Transpose field as column headers"
Hi, I'm trying to transpose a model with a manytomanyfield.

Here are my models:

[code]
I would like column 1 to contain the course, col 2 the student and col 2 > to be the dates.
ex.:

     | Course          | Student Name       | Jan 1 | Jan 2 | Jan 3 | etc
     | English         | Baba Ganush        |   x   |       |   x   | etc

Is this possible?  can you point me in the right direction to ac

[2018-02-25 14:56] layanata opened #541 "ImportError: cannot import name 'SortedDict'"
Hi, I'm using python 3.4, django 2.0.2, pip 9.0.1

---django-table2 version---
(django) [root@localhost app]# pip show django-tables2
Name: django-tables2
Version: 1.19.0

There is a error when I added django-tables app to setting.

(django) [root@localhost app]# python manage.py runserver 0.0.0.0:8000
Unhandled exception in thread started by <function check_errors.<locals>.wrapper at 0x7faa7af634

[2018-02-25 15:12] layanata commented on #541
I wrongly installed django-tables3.  just uninstalled it and fixed it now.

[2018-02-25 15:12] #541 closed

[2018-02-26 14:15] Nilad opened #542 "Export Tables2 not work"
Hi,

Firstly, thank for your great tool for the django community.

I fail to make your example for exporting data http://django-tables2.readthedocs.io/en/latest/pages/export.html

I have the same problem that this person https://stackoverflow.com/questions/47450399/i-am-using-django-tables-2-and-trying-to-export-my-table-following-the-official .

Here my code:

 #tables.py
[code]

#view.py

[code]

[2018-02-26 18:59] jieter commented on #191
@thclark yes, if it's reasonable patch with tests and documentation, I'm certainly open to a PR.

[2018-02-26 19:06] thclark commented on #191
Thanks @jieter - implementing now. The API to Jinja's extension is in their own words "non-trivial" but I'm making progress. If I succeed I'll let it bed in in production for a few weeks,  before making a PR. Watch this space!

[2018-02-26 19:07] jieter commented on #542
Hi @Nilad.
This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please ask these kind of questions stackoverflow. I just added an answer to the question which I think fixes the issue.

[2018-02-26 19:07] #542 closed

[2018-02-26 19:11] jieter commented on #540
There is no build-in way to do this in django-tables2, but you can transform your queryset into a list of dicts and add that to the table. If the list is really big, it might not perform well, but for less than a couple of hunderd rows/columns, it should work reasonably well.

It think django-tables2 will not be able to include a generic way to do this, so I'm closing the issue.

[2018-02-26 19:11] #540 closed

[2018-02-27 08:55] Nilad commented on #542
Thanks. I think it's most clearly for users if you added just your answer on your tutorial.

[2018-02-27 09:34] jieter commented on #542
Might be correct, you are welcome to open a PR to add it to the docs.

[2018-02-28 14:22] aklaver commented on #527
See below for answer:

https://pip.pypa.io/en/stable/user_guide/?highlight=upgrade#only-if-needed-recursive-upgrade

[2018-03-01 15:00] vCra opened #543 "Add page number selection to pagination selection"
While the current pagination is quite nice, it could be made even better by adding [page number selection](https://getbootstrap.com/docs/4.0/components/pagination/). The general idea is to be able to select a page number, rather than only being able to go forwards and backwards. The hardest problem with this will probably be regarding edge cases (what if they are only 2 pages, what if we have a la

[2018-03-05 12:23] andytwoods opened #544 "Only when I inherit from a base tables.Table class, do I get nice table formatting."
Hi,
I have the below classes. Only when I use ReimbursementTable (and not AbstractReimbursementTable) do I get nice bootstrap formatting (in the image, the table on the left). In my settings I use DJANGO_TABLES2_TEMPLATE = 'django_tables2/bootstrap.html'.

I don't suppose you've an idea what's going on?
thanks!
Andy.

**my table:**

[code]

**my view:**
[code]

![image](https://user-images.githubu

[2018-03-05 13:38] andytwoods commented on #544
here's an update. If I remove attrs = {'id': 'jobsboard'}, I get the nice formatting. Odd!

[2018-03-05 14:16] andytwoods opened #545 "passing html parameters to Columns"
I've found myself inheriting from LinkColumn in order to be able to pass HTML parameters to <A/> (I'm intercepting clicks with JS and asking 'are you sure'). Happy to pullrequest this but I BET I am being silly!
Thanks, Andy.

[code]

[code]

[2018-03-05 14:49] Bronte2k7 opened #546 "Pagination and descending ascending sorting"
Hi, guys

class AdministratorTable(Table):
    pass
    class Meta:
        model = User

class UserAdministratorListView(SingleTableView):
    table_class = AdministratorTable
    model = User
    queryset = User.objects.filter(is_superuser=True).order_by('id')
    paginate_by = 2

Pagination and descending, ascending sorting of columns does not work for the current page

example

column: usernam

[2018-03-05 16:48] jieter commented on #545
Please pay close attention to what the actual difference in output is after adding an `attrs` kwarg to a `LinkColumn`. In this case, the class was added to the `<td>` tag, if you want to add it to the `<a>`-tag, you should specify it like this:
[code]

That said, this is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflo

[2018-03-05 16:48] #545 closed

[2018-03-05 16:50] jieter commented on #546
This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-tables2) and tag your question with `django-tables2`.

Also: it really helps if you ask your question with properly formatted code snippets.

[2018-03-05 16:50] #546 closed

[2018-03-05 16:53] jieter commented on #544
This is because the bootstrap template only works properly if
 - No table `attrs` are provided
 - `{'class': 'table'}` is added to `attrs` as well.

This is something we want to fix as part of #525, until then, use one of the above.

[2018-03-05 16:53] #544 closed

[2018-03-07 09:03] thunderk opened #547 "render_table tag overwrites "table" variable from outer context"
The _render_table_ tag binds its first argument (the Table object) to a _table_ variable, which is then used in child template for rendering.
The problem is that this seems to overwrite any previous _table_ variable set in the parent context.

Here is a small example, with a django-tables2 Table object in _mytable_ template variable:
[code]

The output of this template is:
[code]

Tested with vers

[2018-03-07 12:16] jieter commented on #547
De comments here https://github.com/jieter/django-tables2/blob/master/django_tables2/templatetags/django_tables2.py#L160-L175

Suggest the added entry is popped off. Maybe something changed in how django handles this and there clearly is no test checking for it.

I don't think we really need the original context, except for `request`, so we might be able to use a fresh context. It would really hel

[2018-03-08 13:12] jieter commented on #547
@thunderk I tried reproducing the issue with this test, but it seems to pass without changes.
[code]

Can you spot the difference between your case and my test?

[2018-03-08 13:15] jieter commented on #547
Fyi, this is a commit with change which would fix this problem. But the test also passes without the fix.
https://github.com/jieter/django-tables2/commit/d1d95a60455d99a6ae0da939cda31c79984b55a5

[2018-03-08 13:18] jieter commented on #543
@vCra Can you have a look at #525? That implements `<prev> 2 3 ... <last> <next>` in all templates.

[2018-03-08 14:27] vCra commented on #543
Looks great, at least with the bootstrap 3 template.
I had some weird behavior when PAGE_RANGE is set to 3, and on the 3rd to last page - the current page is not displayed. (e.g. on page 13 of 15, I get  Previous - 1 - ... - 14 - 15 - Next, where I would expect  Previous - 1 - ... - 13 - ... - 15 - Next.
You might want to add that setting PAGE_RANGE to less than 3 or 4 is a bad idea in the documen

[2018-03-08 14:55] jieter opened #548 "Do light html validity checks."
I tried adding light validation of the html output after I spotted an error in a template just in time.

But this fails with `lxml.etree.XMLSyntaxError: Tag nav invalid, line 122, column 43` which is false positive because using the `<nav>` tag is perfectly fine.

[code]

[code]

[2018-03-08 16:14] jieter commented on #497
#370 proposes to remove adding the column name altogether, making this issue obsolete.

[2018-03-08 16:14] #497 closed

[2018-03-09 09:36] thunderk commented on #547
Sorry about the delay, but I'm struggling to reproduce the bug on a small case (it happens in our quite large app, with several levels of template inheritance and custom tags).
In our case, it happens when rendering a table with a TemplateColumn. Removing this column fixes the behavior. But the template used in the column does not bind a 'table' variable, so I don't see why it should interfere.
I

[2018-03-09 09:44] thunderk commented on #547
Ok, got it, the table has to be non-empty to trigger the bug:

[code]

[2018-03-09 20:00] jieter commented on #547
@thunderk Can you verify #550 solves your use case?

`pip install https://github.com/jieter/django-tables2/archive/prevent-context-mutation.zip`

[2018-03-12 08:19] thunderk commented on #547
@jieter Yes, case solved ! Thank you.

[2018-03-12 08:39] #547 closed

[2018-03-12 08:47] jieter commented on #547
released [1.21.0](https://pypi.python.org/pypi/django-tables2/1.21.0)

[2018-03-12 09:17] jieter opened #551 "RequestConfig(..., paginate=False) should not result in a count query."
https://stackoverflow.com/questions/49227692/how-to-prevent-a-row-count-from-being-sent-to-the-db-when-paginator-is-disabled

[code]

fails with:
[code]

[2018-03-12 09:30] jieter commented on #551
`BoundRows.__len__` calls `table.data.__len__` which causes the count on a QuerySet.

It is probably not correct anyway, since I expect `len(BoundRows)`  to return the count of the curren page, not the count of the complete dataset.

[2018-03-12 16:02] #551 closed

[2018-03-12 16:08] jieter commented on #551
released [1.21.1](https://pypi.python.org/pypi/django-tables2/1.21.1)

[2018-03-12 19:03] #223 closed

[2018-03-12 23:45] fzzylogic commented on #551
This truly made my day, thanks jieter.

[2018-03-13 11:02] jieter commented on #486
@it-management ping

[2018-03-14 12:48] Azd325 opened #552 "No other context inside the table template"
I think this comes from this change https://github.com/jieter/django-tables2/issues/547 with the new version 1.21,  my forms inside the table template does retreive the csrf token from `{% csrf_token %}`

[code]

[2018-03-14 20:48] jieter commented on #552
@Azd325 thanks for reporting, can you contribute a minimal test case to reproduce the issue?

Might be enough to pass a `RequestContext` instead of a `Context`...

[2018-03-16 20:15] sdolemelipone opened #553 "MultiTableMixin - move table instantiation from `get_context_data` to `get_tables`"
Further to the recent changes to `MultiTableMixin` by @vCra in issue #538, I would like to suggest the following change: `get_tables` should create table instances by calling `get_tables_data`, in an analogous manner to `SingleTableMixin`, rather than leaving it to `get_context_data`.

The use case for this is that sometimes it is necessary for table classes to be defined after `get_tables_data` i

[2018-03-16 20:34] sdolemelipone commented on #553
Closing this as I see the discussion can take place in the pull request :-) Just getting started with this.

[2018-03-16 20:34] #553 closed

[2018-03-19 10:30] Azd325 commented on #552
https://repl.it/@Azd325/GrumpyHarmfulApplicationprogram

[2018-03-19 11:09] jieter commented on #552
From your example:
[code]
I think I'm happy to not have the calling context passed to the table template. The template is about rendering the table, which is defined in a `class MyTable(tables.Table)` definition. You can use `TemplateColumn` to create templated columns which does allow use of the parent context.

The `{% csrf_token %}` issue is  easy to fix without introducing potential surprising

[2018-03-19 11:11] #552 closed

[2018-03-19 11:19] Azd325 commented on #552
Thanks,

Ok, I have to think about the extra context because is a dynamic form in the table head who relies on the primary key as action url who interact with the table data. e.g send message to user in the table.

[2018-03-19 11:23] jieter commented on #552
Does it have to be _in_ the table head?

Anyway, [`table` carries the context](https://github.com/jieter/django-tables2/blob/0b3f150e1d0d37ca1e2249f8366c4f7c8b3a6ea4/django_tables2/templatetags/django_tables2.py#L166), so a possible workaround is to use `{{ table.context.extra_infos }}`.

[2018-03-19 11:43] jieter commented on #502
Tests rely heavily on the different versions of this, not worth pursuing currently.

[2018-03-19 11:43] #502 closed

[2018-03-19 12:10] Azd325 commented on #552
Thanks for the hint.

It looks nicer if it is all aligned but I will reconsider the position to prevent future problems.

[2018-03-26 01:16] bezkos commented on #539
To avoid problems with sorting, I ended up to use "if" statements in template to implement max page feature.

[2018-03-26 01:16] #539 closed

[2018-03-26 06:43] jieter commented on #552
released [1.21.2](https://pypi.python.org/pypi/django-tables2/1.21.2)

[2018-03-26 09:22] Azd325 commented on #552
thanks

[2018-03-30 21:46] pjmcdermott opened #558 "Rendering of bottom pinned data appears to fail after release 1.11.0"
I have just noticed that after upgrading django_tables2 to the current 1.21.1 my bottom pinned data disappears. It was working fine with release 1.11.0. Working back through all of the previous releases (using a bisection search of course!) I ascertained that this first fails with release 1.12.0.

Unless there has been some change in the pinned row interface which I am unaware of, this appears to

[2018-03-30 23:10] pjmcdermott commented on #558
After some investigation, I think this may be related to issue #482.

I originally had:
[code]
which worked fine. I found I had to change it to:

[code]
from 1.12.0 on.

i.e. instead of accessing the description field via the column name 'description' it is now accessed via 'plan.name'. And the render formatting of StripeAmountField custom column is now applied, whereas previously I was formatting

[2018-04-03 08:26] jieter commented on #558
Yes, behavior change could have been documented more extensively. I do think the current behavior is correct though.

It's arguable if your use-case is 'correct' use of pinned rows. It might have been more correct to use footers for that, however, I see you want to render multiple rows. If it works for you, I'd say keep at it.

[2018-04-03 14:36] Azd325 commented on #552
Can you release 1.21.2 to pypi. Thanks

[2018-04-03 14:41] jieter commented on #552
I'm sorry, must have mist an error message before.

It's there now: https://pypi.org/project/django-tables2/1.21.2/

[2018-04-03 14:42] Azd325 commented on #552
thanks a lot. I was a bit confused where I did the upgrade and didn't work. Thanks for the quick upload :)

[2018-04-03 21:37] pjmcdermott commented on #558
It's not clear to me that this issue should be closed. The documentation for pinned rows does not reflect the current behaviour. For instance, the [Pinned Rows](https://django-tables2.readthedocs.io/en/latest/pages/pinned-rows.html) pages says:

This was how the pinned rows worked in 1.11.0. But this is not the current behaviour.

[2018-04-04 01:31] jpic opened #559 "Sort by multiple columns"
Hello,

Is it possible to sort by multiple columns like in Django admin ?

It seems they encode it in the url as such: `o=2.-4.-1`, this is for: first order by second column asc, then 4th desc, then first column desc.

Great app <3

[2018-04-05 07:52] jieter commented on #559
#223 contains a feature request to add UI to allow sorting on multiple columns. I recently closed this for lack of interest and non-trivial code required to create the UI.

However, passing multiple column names separated by comma's to the sort parameter just works.

[2018-04-05 09:29] jpic commented on #559
It doesn't seem comma separated works for me, what do you think I am doing wrong ?

![2018-04-05-112636_627x663_scrot](https://user-images.githubusercontent.com/94636/38357999-6bd12a7a-38c4-11e8-9fe4-817d57fa6395.png)
![2018-04-05-112618_551x713_scrot](https://user-images.githubusercontent.com/94636/38358001-6bfc1dd4-38c4-11e8-8130-d39a8448f4a1.png)
![2018-04-05-112548_621x695_scrot](https://user-

[2018-04-05 09:32] jpic commented on #559
The screenshots in the above comments show how i am trying comma separated columns.

These screenshots show that my setup is functional with single columns:

![2018-04-05-112923_413x662_scrot](https://user-images.githubusercontent.com/94636/38358125-bb3c4d74-38c4-11e8-9d94-59a33d5888a3.png)
![2018-04-05-112917_392x671_scrot](https://user-images.githubusercontent.com/94636/38358126-bb64c24a-38c4-11

[2018-04-05 14:16] jieter commented on #558
you are right, this needs more precise documentation.

[2018-04-05 14:36] jieter commented on #559
You are right, I just tried to reproduce it in the example and it indeed doesn't work the way I said.

It is possible though:

`/bootstrap/?sort=country&sort=-name` will result in the queryset having an `ORDER BY` clause like this:

[code]
This may or may not be a proper API to do this, but until something better is suggested, we'll keep it like this.

[2018-04-05 15:04] partounian opened #560 "Any way to have a read more button?"
I'm trying to display all of the fields in my table simple but some of them are crazy long, any way I get like a read more/read less button?

[2018-04-05 15:10] jpic commented on #559
Thanks a heap, no problem, we can js-fu through this and replicate the
admin feature.

[2018-04-06 07:05] jieter commented on #560
If you want to display/hide/shift complete columns, this might help: https://github.com/djk2/django-tables2-column-shifter

If you want to show a read more button in a column, use a template column or custom renderer to implement showing the remainder of the content, using something like https://getbootstrap.com/docs/4.0/components/collapse/.

That said, this is an issue tracker to report bugs and

[2018-04-06 07:05] #560 closed

[2018-04-07 21:54] nicobaguio opened #561 "Creating CustomBaseTables"
So I'm creating a BaseTable like this:

[code]

is there a way to create a new Table class that inherits from BaseTable where you only change the accessor of col1 without changing their verbose_name and order_ and render_ methods?? Something like

[code]
Basically I want to avoid doing this:

[code]
I want to be able to change the accessor of a particular column, depending on what kind of data it

[2018-04-09 13:19] Michelk12 opened #562 "trans didn't work for bootstrap.html and bootstrap-responsive.html"
In bootstrap.html : can you modify

`{% trans 'previous' %}`
by
`{% trans 'Previous' %}`
and
`{% trans 'next' %}`
by
`{% trans 'Next' %}`

?

Or modify some django.po in locale directory ?

Michel (french boy)

[2018-04-09 13:27] #562 closed

[2018-04-09 13:28] Michelk12 commented on #531
if translated strings are in lowercase, we must modify some django.po in locale directory (?)

[2018-04-09 13:30] jieter commented on #531
yes, already fixed in #549

[2018-04-09 13:45] Michelk12 commented on #531
I discover today django-tables2, I installed  by "pip install django-tables2" and I have 1.21.2 version

[2018-04-09 13:46] jieter commented on #531
yes, it's part of not yet released version 2.0, will be ready in the coming weeks.

[2018-04-09 13:48] Michelk12 commented on #531
Ok, I understand, thanks

    Michel, french boy

[2018-04-10 15:29] #531 closed

[2018-04-10 15:29] #491 closed

[2018-04-10 15:29] #548 closed

[2018-04-10 15:31] jieter commented on #543
landed in master.

[2018-04-10 15:31] #543 closed

[2018-04-10 15:35] jieter commented on #475
landed in master

[2018-04-10 15:35] #475 closed

[2018-04-10 15:39] jieter commented on #526
I just did a pre-release of 2.0.0 with version [2.0.0a0](https://pypi.org/project/django-tables2/2.0.0a0/). Please help by testing and report any issues.

[2018-04-10 15:39] #526 closed

[2018-04-10 19:45] jproffitt commented on #552
@jieter It may be a good idea to mention in the change log that this is a breaking change. I had some custom templates (`Meta.template_name`) for my tables that used the view's main context variables, and this change totally broke the views since they were expecting those variables to be present in the context.

[2018-04-10 20:02] jieter commented on #552
@jproffitt good idea, are you maybe able to open a PR adding it?

[2018-04-11 14:03] Michelk12 opened #563 "Only "Next" is translate"
Error in django.mo ?

`{% trans 'next' %}` **OK**

`{% trans 'previous' %}` **KO**

[2018-04-12 04:06] jieter commented on #563
Please report versions used of: django, django_tables2, and what language doesn't work.

[2018-04-12 05:48] Michelk12 commented on #563
Sorry,

"pip3 list" give me django-tables2 (2.0.0a0), i'm french  but I have the impression that the problem arises for all languages (?) Thanks

[2018-04-12 07:40] jieter commented on #563
Thanks for providing additional information. I just confirmed this is indeed a bug.

Note that 2.0.0a0 is a pre-release, I suggest using the latest 1.x release until this is fixed.

[2018-04-12 08:33] jieter commented on #563
Released [2.0.0a1](https://pypi.org/project/django-tables2/2.0.0a1/) which should fix this.

[2018-04-12 08:33] #563 closed

[2018-04-12 09:04] surfer190 commented on #288
I think there is much to gain from a standarised support instead of everyone throwing their own solutions together. I am looking into it at the minute.

[2018-04-12 09:11] jieter commented on #288
@surfer190

[2018-04-12 10:03] timfeirg commented on #288
I remembered reaching the conclusion that pandas support wouldn't bring much value.

While initializing a `TableData` with pandas DataFrame is faster, operations like sorting or pagination is just as slow. Maybe even slower than using the original `TableData`.

Pandas DataFrame really needs to be indexed in order to benefit from its performance. without proper indexing, sorting will be slow. Also,

[2018-04-12 12:29] surfer190 commented on #288
What was that about premature optimisation being the root of all evil?

I was thinking more of a MVP, simply viewing the dataframe in django. There is already a django package that converts querysets into a dataframe called `django-pandas`

[2018-04-12 12:41] jieter opened #564 "Inheritance of class Meta doesn't always work."
Not all attributes of `class Meta` seem to work every time.

 - `ordering` sometimes is lost
 -  `template_name` is back to the default in one table in the example.

[2018-04-12 13:29] #558 closed

[2018-04-12 14:12] jieter opened #565 "redo screenshots with consistent size"
- remove ugly borders
 - consistent size
 - update sha's in rawgit links in README.rst

[2018-04-12 16:04] #565 closed

[2018-04-12 16:04] jieter commented on #565
Fixed with a2e53c74f3b13a29ef534e368d44d0fa17229e1e

[2018-04-12 20:33] jieter commented on #517
fixed with 91f71fd and 8ed9312

[2018-04-12 20:33] #517 closed

[2018-04-13 07:58] jieter commented on #486
I managed to reproduce this issue with this test:

[code]

[2018-04-13 08:15] jieter commented on #486
A workaround could be to always add the column, but to hide the column if it is not desired in the current circumstances.

[2018-04-13 08:31] #486 closed

[2018-04-13 08:38] jieter commented on #486
released pre-release [2.0.0a2](https://pypi.org/project/django-tables2/2.0.0a2/)

@it-management if you can, please test this.

[2018-04-13 09:39] ygwain opened #568 "Table.Meta 'attrs' and 'row_attrs' with callable and arg name other than 'record' is not working anymore"
[code]
This is not working anymore and exception is not raised. IMHO it's not intuitive. And I believe that exception should be raised anyway.

[2018-04-13 12:39] jieter commented on #568
`row_attrs` never supported anything other than `record`, but you are right that it was an positional arg before. Version 1.9.0 (2017-06-22) was the first with this change.

You are right that an exception would be more intuitive, a well tested PR adding such a feature is welcome.

I think I'm against letting call_with_appropriate pass positional arguments, because in order is not defined in the d

[2018-04-18 17:53] mahmudkabir opened #569 "Pagination is not working on django_tables2"
Here is my code:

`table = QuestionTrackTable(QuestionTrack.objects.filter(qt_weight__gt=0), prefix='1-')
    RequestConfig(request, paginate={'per_page': 10}).configure(table)

    export_format = request.GET.get('_export', None)
    if TableExport.is_valid_format(export_format):
        exporter = TableExport(export_format, qt_table)
        return exporter.response('table.{}'.format(export_form

[2018-04-19 09:52] surfer190 commented on #288
So I think that at the minute if you don't need an orderable or paginated dataframe it is sufficient to simply use the `to_dict('record')` method of a dataframe and construct the `django-table` using a dict.

`EntryTable(df.to_dict('records'))`

I'm happy to close it again.

[2018-05-01 15:28] waketzheng commented on #488
Now that ``row_counter`` is start from 0, if I want to start from 1, how to do it?

[2018-05-01 16:38] jieter commented on #488
You can use the add template filter: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#add

[2018-05-02 05:51] djk2 commented on #488
[code]

[2018-05-02 17:06] jieter opened #570 "Support passing Accessor to Linkcolumn text argument too"
Should be relatively easy to fix, feel free to contribute!

[2018-05-08 11:06] jieter commented on #530
It might be a legitimate _support_ question, but there is no [`RadioColumn` in django-tables2](https://github.com/jieter/django-tables2/search?q=RadioColumn&type=Code), so this is not an issue with django-tables2 itself, but rather with some custom use case of it. Like I wrote in my comment before closing:

I did not only write that to make sure to not get overwhelmed by support issues, but also t

[2018-05-11 18:58] ETinLV opened #572 "Table Prefix gets lost when using MultiTableMixin"
I have a view that needs multiple tables, and they need to be rendered differently. When I get the tables, I pass the prefix for each type. But `get_context_data` overwrites the prefix [(line 208 in django_tables2/views.py)](https://github.com/jieter/django-tables2/blob/d1b6a616c5b88d9f6b452cccadc65b57cf50970e/django_tables2/views.py#L208), so they always come back as `table-x`  Am I missing somet

[2018-05-12 14:14] jieter commented on #572
@ETinLV Yes, that would be a good way to fix it. Can you open a pull request? Preferably one with a test?

[2018-05-13 18:43] ZuluPro opened #573 "Slow perfs of per_page option"
If I use the option `table_pagination` on my View, the page loading is very slow ~12sec
I time it with Dj-Debug-Toolbar and the issue was really CPU time (80%), not SQL.
[code]

I try with `paginate_by` (default Django attribute) and it reduce to ~2sec.

[code]

So I suggest (and I'll do if I have time) to use Django pagination system by default.

[2018-05-13 20:09] jieter commented on #573
Interesting!l, thanks for reporting. Can you tell a bit more about the total number of records, python/django/django-tables2 versions and the model/table definition?

I thought these should be equivalent, but apparently they are not. I'll have a look

[2018-05-13 20:37] ZuluPro commented on #573
Hello @jieter,
I have ~50K records. Django 1.11 & Python 3.5.

[2018-05-14 05:36] jieter commented on #573
@ZuluPro thanks, you still omitted some of my asked versions.

It would be also really helpful if you can show the queries produced in both cases.

[2018-05-15 22:45] ilizaran opened #574 "verbose_name don't update with tables without model"
Before django-tables2==1.21.2

it was possible:

[code]
Now the header show 'mycolumn', don't take the new value.

[2018-05-16 00:58] ETinLV commented on #572
Yes, I can open a pull request. I will try to get to it in a few days. Thanks!

[2018-05-16 06:54] jieter commented on #574
@ilizaran thanks for reporting. What version of django-tables2 are you at the moment?

[2018-05-16 07:46] ilizaran commented on #574
django-tables2==1.21.2

[2018-05-16 07:49] jieter commented on #574
can you try `django-tables2==2.0.0a2`?

[2018-05-16 08:45] ilizaran commented on #574
yes, with django-tables2==2.0.0a2 work perfectly. Thank you.

[2018-05-16 08:46] jieter commented on #574
Great. I'll try to release a non-alpha version during DjangoCon europe next week.

[2018-05-17 08:51] waketzheng opened #575 "Can I use `django-tables2` to display a model's detail view?"
My code is similar as follow:
- models.py
[code]
- views.py
[code]
- person_detail.html
[code]
Of course, the template not work. And I write some templatetags to fix it.
 Is there any way to use `django-tables2` to get the result?

[2018-05-19 01:08] vincentwhales opened #577 "Bootstrap4 template can't be rendered."
1. set `DJANGO_TABLES2_TEMPLATE='django_tables2/bootstrap4.html'`
1. pasted `django_tables2/bootstrap4.html` from repo to my template directory.

And this is the error I am getting:
[code]

[2018-05-19 04:29] jieter commented on #577
You are copying a template from master, which uses a new template tag `render_attrs`. Master is published as pre-release `django-tables2==2.0.0a2`. It should work like you expect it if you install that version.

[2018-05-19 05:02] mezitax opened #578 "Table with data obtained from a foreignkey in reverse"
Hi guys, I have been looking for a solution to my problem for some days without an answer
I'm trying to make a table with "django-tables 2" with data obtained from a foreignkey in reverse, these are my models:

    class CursoAttendance(models.Model):
        curso = models.OneToOneField('organizacion.Curso', on_delete=models.CASCADE, verbose_name="curso")

    class StudentAttendance(models.Model

[2018-05-19 05:07] jieter commented on #575
Not without constructing a custom  list of dicts containing key/value pairs.

[2018-05-19 06:48] vincentwhales commented on #577
Fixed! Thank you for your prompt response!

[2018-05-19 06:48] #577 closed

[2018-05-19 07:52] #575 closed

[2018-05-22 19:43] #572 closed

[2018-05-22 20:02] jieter commented on #573
It's quite hard to work on (performance) issues without being able to reproduce them. Django-tables2 [uses django pagination](https://github.com/jieter/django-tables2/blob/master/django_tables2/config.py#L41-L63) in both cases, but apparently, there is a subtle difference introducing this big performance drop.
If you cannot share data about the database, can you maybe share queries with the field

[2018-05-22 20:08] jieter commented on #561
@nicobaguio you should change `self.base_columns['col1'].accessor`

`self.columns` contains [`BoundColumn` objects](https://github.com/jieter/django-tables2/blob/83f191329fb1fdabd822a109f82b70148c320c9b/django_tables2/columns/base.py#L264)

[2018-05-22 20:08] #561 closed

[2018-05-22 21:16] ZuluPro commented on #573
Hello @jieter

I created this project:
https://github.com/ZuluPro/django-tables2-perfs

Just:
- `git clone`
- `pip install Django django-tables2`
- `./manage.py shell``

It's a simple Django project with a simple model and its table.
It has 2 paginated views:
- `/table/` : Paginated by Django-table2
- `/django/` : Paginated by Django

And the problem is visible with it:

[code]

Let me a bit of ti

[2018-05-23 06:59] jieter commented on #573
This is really helpful!

I just tried with django-tables2==2.0.0a2, which gives similar results:
[code]

[code]

Let's track this down before the end of DjangoCon...

[2018-05-24 08:10] jieter commented on #573
@ZuluPro while digging into this: in your second view:
[code]
For me, the number of rows per page is actually 25, which is the default for a django-tables2 table.

If I set the first table to 25 rows too, I get these results:
[code]

Can you make sure you are actually getting a response with an equal number of rows?

[2018-05-24 08:20] vincentwhales opened #579 "Empty text cannot be translated?"
I have the following:

[code]

I am getting `TypeError: TaskTable.empty_text = 'There are no tasks matching your criteria.' (type __proxy__), but type must be one of (str)` Any ideas?

[2018-05-24 09:13] jieter commented on #579
You are right, this should be possible and is a recent regression. I'm working on a fix.

[2018-05-24 10:06] #579 closed

[2018-05-25 18:15] ilizaran commented on #574
Hi, with django-tables2==2.0.0a2 don't work the first time. You have to reload the page to get it works and works perfectly while you don't stop Django.

[2018-05-26 06:35] jieter commented on #574
I can reproduce with this test:

[code]

looking for a fix now.

[2018-05-26 06:40] jieter commented on #574
The fix is really easy: because you apply the change after the super call to `__init__` is made, it only changes the next instance, not the one being created with the current constructor. Moving the `self.base_columns` mutation above the super call makes it work properly.

[code]

[2018-05-26 06:43] #574 closed

[2018-05-26 09:22] jieter opened #580 "Add correct language attribute to all .po files."

[2018-05-27 14:37] ilizaran commented on #574
Thanks Jieter!

[2018-05-29 15:07] #580 closed

[2018-06-01 08:04] jieter commented on #573
@ZuluPro did you manage to have a look into this?

[2018-06-02 23:48] NeonDodongo opened #582 "TypeError: [TABLE_OBJECT] not iterable"
Trying to render a table that is being passed a QuerySet by way of a directory search on an html page, but when the results page loads it gives an error saying that the table object is not iterable.

**views.py**
[code]

**directory_results.html**
[code]

**tables.py**
[code]

[2018-06-02 23:49] NeonDodongo commented on #582
Wow, sorry first time posting to this site ever, that formatting is all messed up

[2018-06-03 06:15] #582 closed

[2018-06-05 07:50] guettli opened #583 "New FAQ entry: How to create the search form?"
I think in many cases you have some kind of search form. The search form gets used to create the interable, which gets used in django-table2.

It would be very kind, if you could provide some help for new comers how to create the search form.

Is there some django app which helps you to create search forms?

[2018-06-05 09:20] sdolemelipone commented on #583
[django-filter](https://github.com/carltongibson/django-filter) is your friend! Use the mixins there to filter down your queryset(s)

[2018-06-05 21:02] jieter commented on #583
There is also a page in the docs about it: http://django-tables2.readthedocs.io/en/latest/pages/filtering.html

[2018-06-11 05:49] #583 closed

[2018-06-11 10:46] jieter opened #584 "Start using black for formatting?"

[2018-06-15 08:33] hmikihth commented on #259
I have created an editable table cell, but I cannot edit the cell if the value is empty, because of this... :)

[2018-06-15 09:09] hmikihth commented on #259
Solved.

`my_col = tables.Column(empty_values=())`

After it you can render that cell. I know it is too late, but maybe it will be useful for others :)

[2018-06-15 09:25] jieter commented on #259
@hmikihth That's what the 'important' block in the above screenshot is trying to communicate...

[2018-06-15 13:15] hmikihth commented on #259
@jieter Yes, I see, that is a useful information. And I don't know why I did not overwrite the empty_values first time. Maybe I need to sleep more :)

[2018-06-19 23:44] vincentwhales opened #585 "Possibility of using multiple rows for a record"
As our tables gets more and more data, it becomes increasingly difficult to manage the real estate available for django-tables.

Is it possible to use multiple rows for a record?

[2018-06-20 17:22] katsika opened #586 "Highlight row based on conditional query set."
Hey,

hope I could get some help with rendering conditional table.

Say I have such models (pseudo code):

[code]

I also have table `BooksTable()` which prints all Books. Is it possible to set `attr` for `tr` tag (say `class="owned"`) for Books that match query like `UsersLibraries.objects.filter(user=current <and> has_book)`? Basically I want to highlight Books owned by user.

Also, how would I

[2018-06-20 20:28] jieter commented on #586
Hi @katsika. This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-tables2) and tag your question with `django-tables2`.

That said, your first problem can be solved using [row attributes](http://django-tables2.readthedocs.io/en/latest/pages/column-attributes.html#r

[2018-06-20 20:28] #586 closed

[2018-06-20 20:29] jieter commented on #585
As far as I understand your question, I think the answer is no. django-tables2 always renders each item in the iterable it gets as one row.

[2018-06-20 20:29] #585 closed

[2018-06-20 20:29] #573 closed

[2018-06-22 07:08] jieter commented on #584
Pull request: #587

[2018-06-26 22:14] pedram7sd opened #588 "Keeping filter form data or general data on the page when sorting by column"
In the case that we have an orderable table
and we also have a crispy-form which is our filter form and has the data
once we apply the filter and the page posts the data and loads the filtered data onto the table
then clicking on a column header to sort, resets the post data and the filters and sends a get request hence the filter options get lost.
How can we keep track of the data on the page esp

[2018-06-27 10:03] jieter commented on #588
Do not use POST for your filter form. If you use GET, django-tables2 will keep the other get fields intact.

[2018-06-27 15:00] jieter commented on #584
merged #587

[2018-06-27 15:00] #584 closed

[2018-06-27 15:01] #588 closed

[2018-06-27 15:31] pedram7sd commented on #588
But considering I have CSRF token and a lot of fields
1. Would it be safe and best practice do use GET ?
2. Wouldn't the url get all ugly ?

[2018-06-27 15:38] jieter commented on #588
CSRF-token is only relevant for POST requests. Filtering usually doesn't have any permanent results on the stored data, it just changes wat is presented.

The url might get ugly, but it can also be bookmarked, shared, etc. All of which is impossible with your current setup.

[2018-06-27 16:13] pedram7sd commented on #588
you are right.
it did it, Thank you so much!

[2018-06-29 07:05] vincentwhales opened #589 "Django-filter initial value only present when ?page=1 is appended to url?"
I have the a view, `AccountList`, which is trying to render a django_table2 table. The view's source code:

    class AccountList(SingleTableMixin, FilterView):
        model = Account
        table_class = AccountTable
        template_name = 'accounts/account_list.html'
        context_table_name = 'object_list'
        ordering = ['vps']

        filterset_class = AccountFilter

This view is cu

[2018-07-01 21:08] jieter commented on #589
This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-tables2) and tag your question with `django-tables2`

[2018-07-01 21:08] #589 closed

[2018-07-06 23:00] gabrielbouzard commented on #82
This would be a really nice feature. A hack that seems to work can be found here, although I have not tried it yet: https://stackoverflow.com/questions/11025565/non-queryset-data-ordering-in-django-tables2.

[2018-07-07 11:46] sdolemelipone commented on #82
Does annotating the custom column to the queryset not resolve this issue? ``queryset.order_by()`` works fine on annotated columns (which are not in the database).

[2018-07-07 19:42] gabrielbouzard commented on #82
Yea my bad. It does work.

[2018-07-09 10:47] shadiakiki1986 commented on #288
@surfer190 what's `EntryTable` in your comment above?

[2018-07-09 10:49] surfer190 commented on #288
It is my `django-tables2` table, an instance of `tables.Table`.

[2018-07-10 22:15] roelbouwman opened #591 "column attribute record allways returns None"
I use this code to add attr to a column but the record allways returns None
django-tables2 version = 1.11.0

[code]
[code]

[2018-07-11 17:34] #591 closed

[2018-07-11 17:41] jieter commented on #591
@roelbouwman thanks for reporting, just fixed (docs still need a rebuild).

[2018-07-11 19:01] roelbouwman commented on #591
Hi Jan Pieter,

I tried that myself, didn't work. The row_attrs works but column attrs
allways returns None.

Kind regards,
Roel

Op wo 11 jul. 2018 om 19:41 schreef Jan Pieter Waagmeester <
notifications@github.com>:

[2018-07-11 19:20] jieter commented on #591
This is a test in the test suite, testing for behaviour like that:

https://github.com/jieter/django-tables2/blob/5f9c43539de26f04c430eb4109b3b4d1be720d97/tests/columns/test_general.py#L498-L533

does that help?

[2018-07-12 20:05] roelbouwman commented on #591
I'm sorry but that didn't help, even if i try this code it still returns None. The strange thing is that row_attrs works fine. Could it be my version 1.11?
[code]

[2018-07-13 07:57] jieter commented on #591
@roelbouwman that's odd. Are you saying you use `django-tables2==1.11`? Why not upgrade to [`django-tables2==1.21.2`](https://pypi.org/project/django-tables2/1.21.2/)?

[2018-07-14 18:49] roelbouwman commented on #591
that did the job, thanks!

[2018-07-14 19:31] jieter commented on #591
Great!

[2018-07-16 08:45] jieter commented on #570
Will be made obsolete by #590

[2018-07-16 08:45] #570 closed

[2018-07-16 08:48] jieter commented on #412
@C-BERBER I've been working on a branch which might fix this, can you have a look at the API proposed in #590 ?

[2018-07-23 09:49] jpic opened #592 "Install error"
Hello,

I see this in CI, but not locally, it's new since a4, any clue please ?

[code]

[2018-07-23 16:50] jpic commented on #592
Found command to reproduce:
[code]

[2018-07-23 16:56] jpic commented on #592
Found breaking commit in with `until pip3 install .; do git checkout HEAD^; done` in an ubuntu artful container, it's ce063d1f5fdc14b55309b90f72187b7968c1308a

[2018-07-23 17:18] jpic commented on #592
Closing for PR #593

[2018-07-23 17:18] #592 closed

[2018-07-25 14:45] douglance opened #594 "Rendering ManyToMandyColumn as individual links to each related object"
I have a **Unit** table that has a ManyToMany relationship with **Activities**.

When rendering the Activities in my Unit table, I want to have each Activity be a link to its own detail view.

I have tried many methods of doing so, but have not been able to figure out the best method.

I can get the URLs using a lambda:

`activities = tables.ManyToManyColumn(verbose_name='Activities', transform=la

[2018-07-25 16:45] douglance commented on #594
I ended up using a TemplateColumn to get it to work:

[code]

But it would still be great to be able to interact with ManyToMany objects as values.

[2018-07-26 05:04] jieter commented on #594
Are you on 2.0.0a4? If yes, this is a regression we'll fix

[2018-07-26 12:21] douglance commented on #594
@jieter Yes. Sorry that I did not list my environment.

[2018-07-28 07:12] jieter commented on #594
Upon looking into this, this was never supported in `ManyToManyColumn`. The new `linkify` column argument turns the whole content of a cell into a link, which doesn't make sense for most use cases of `ManyToManyColumn`.

The current way to linkify the individual items is the `transform` argument of `ManyToManyColumn`:

[code]

I can imagine cases I want to linkify the rendered content of a `ManyTo

[2018-07-28 12:02] #594 closed

[2018-07-28 12:10] jieter commented on #594
released [2.0.0a5](https://pypi.org/project/django-tables2/2.0.0a5/)

[2018-07-29 07:09] foldedpaper opened #595 "Allow some columns to sort descending on first click"
Considering an example data table of sports statistics, rendered unsorted:

| Player | Goals | Assists | Fouls |
| --- | --- | --- |---|
| Lorem | 3 | 1 | 4 |
| Ipsum | 1 | 4 | 2 |
| Totam | 0 | 3 | 1 |

When attempting to sort this table by one column (i.e. by clicking on the column header), It would be desirable to have some columns default to descending order (like goals and assists) and others

[2018-07-29 09:33] jieter commented on #595
Does #566 solve your issue?

The implementation in that PR looks okay, but the original author doesn't respond anymore. If you are able to invest some time to take the code and fix the unresolved issues with it, I'll be glad to merge it.

[2018-07-29 09:35] jieter commented on #559
@jpic is there still something to be done at side of django-tables2? If yes, can you propose the changes?

[2018-07-29 10:52] jpic commented on #559
Our sponsors aren't pushing for that feature, we have no plan to do anything about it for now.

[2018-07-29 10:52] #559 closed

[2018-07-29 11:32] jieter commented on #559
Thanks!

[2018-07-30 08:00] jieter opened #596 "issues to fix before releasing 2.0.0"
It is my intention to release a final 2.0.0 after these issues are fixed:

 - [x] Tests for pagination template tags.
 - [x] Initial descending sort (#566)
 - [x] Rename `klass` argument to `Table.paginate` by something more informative.

 [django-filter 2.0.0](https://github.com/carltongibson/django-filter/releases/tag/2.0.0) compatability probably has nothing to do with django-tables2 and can be

[2018-07-30 12:50] douglance commented on #594
I believe there may be a regression here:

[code]

`TypeError: __init__() got an unexpected keyword argument 'linkify_item'`

[2018-07-30 13:01] jieter commented on #594
Are you sure you are on 2.0.0a5?

The __init__ has the linkify_item keyword argument here:
https://github.com/jieter/django-tables2/blob/79fc64106d185eb3219f7314105c5f8bccfea407/django_tables2/columns/manytomanycolumn.py#L50

[2018-07-30 18:03] douglance commented on #594
I was not! PyCharm said I was. Pycharm lied.

Thanks for your patience! 😄

[2018-07-31 19:57] foldedpaper commented on #595
Aha, it sure seems like that could solve the issue. I will try to take a look at the code this week and see if I can fill in the last pieces.

[2018-08-01 19:43] foldedpaper commented on #595
I think I have fixed the remaining issues and requests in that PR. My updated PR is at #597 .

[2018-08-02 02:48] buffgecko opened #598 "Sort links don't retain page anchor"
I have a page with Bootstrap-style tabs that uses anchors. When I click a header field to sort one of the tables, the sorting works fine, but the result URL doesn't retain the original #anchor location and I am sent to a different tab.

![wn8qy](https://user-images.githubusercontent.com/42018260/43559632-67f1bc9a-95d4-11e8-8406-4ca2b8dd7354.png)

Original URL: http://localhost:8000/wakemeup/myacco

[2018-08-02 03:08] foldedpaper opened #599 "Allow descending-sort columns to place empty values at bottom of column"
When working with descending columns in #595 and #597 , I came across some descending-sort behavior that seems a little off.

Consider a set of data like this:

| Record | Value |
| --- | --- |
| A | 3 |
| B | 1 |
| C | - |
| D | - |

When sorting Value column in ascending order, the empty values are pushed to the bottom of the list:

| Record | Value |
| --- | --- |
| B | 1 |
| A | 3 |
| C | - |

[2018-08-02 05:30] #595 closed

[2018-08-02 05:31] jieter commented on #599
Did you see #529

[2018-08-02 15:51] foldedpaper commented on #599
Oh, I see it now. Hm, maybe I can take a look at making a PR for that too.

[2018-08-02 21:08] jieter commented on #599
Would be very welcome!

[2018-08-03 03:41] foldedpaper commented on #599
Hah, well, I may have talked myself out of the need for a PR. In my example case, the desired behavior can be achieved by use of the `order_FOO()` method, and Django's `nulls_last` parameter. Like so:

[code]

This results in null values always being sorted at the end of the column. This works for the cases I need it to, because I can ensure that my database always uses null for empty values.

I t

[2018-08-03 03:41] #599 closed

[2018-08-03 05:45] jieter commented on #599
Thanks for explaining!

[2018-08-10 10:42] jieter commented on #598
This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. I've [answered your question on stackoverflow](https://stackoverflow.com/questions/51598822/django-tables2-sort-links-dont-retain-page-anchor/51784720#51784720)

[2018-08-10 10:42] #598 closed

[2018-08-12 08:51] jpic opened #600 "Table in a tab"
Hello maintainers !

Thanks for this beautiful package !

My problem is a paginated table in an HTML (materializecss) tab. If possible, we could setup a pagination link suffix, such as "#mytab". Then, when the user clicks a paginated table link, it could open the tab it was currently seeing.

Do you think this could be acceptable ?

Thanks !

[2018-08-14 06:56] jieter commented on #600
This came up recently in #598, I suggested using a [4-line jQuery snippet on stackoverflow](https://stackoverflow.com/questions/51598822/django-tables2-sort-links-dont-retain-page-anchor/51784720#51784720).

I'm not sure if adding a suffix to the django-tables2 implementation is worth it, but if you think you can pull it off and produce a concise (and properly tested) pull request, I'm certainly n

[2018-08-14 09:27] jieter commented on #596
carltongibson/django-filter#930

[2018-08-15 13:25] lesaf opened #602 "use of linkify column"
In current version is an example were linkify=True is used, this somehow gives errors.
Has this been tested with Django > 2.0

[2018-08-15 14:12] jieter commented on #602
@lesaf Yes, it's [tested against 2.1](https://github.com/jieter/django-tables2/blob/6b4f2c7287bc2208274e0abd143fcb07a84007fb/.travis.yml#L26).

What error messages do you get? Any test new cases are really welcome!

[2018-08-15 17:08] lesaf commented on #602
The error i'm getting is :

tables.py", line 48, in BootstrapTable    country = tables.Column(linkify=True) TypeError: __init__() got an unexpected keyword argument 'linkify'

[2018-08-15 19:34] jieter commented on #602
Hmm, I think you have the latest stable (1.21.1) whereas the new feature is in the beta's of 2.0. can you double check the version you have?

[2018-08-16 07:49] jieter commented on #602
You can install the pre-release, `pip install django-tables2==2.0.0a5`

[2018-08-16 11:12] lesaf commented on #602
Thanks, will do, keep you posted.

[2018-08-16 17:03] Dave-elec opened #603 "Autosize column width when exporting to excel"
Exporting with xlsx format doesn't auto resize the column width to an optimum size.

[2018-08-20 08:55] jieter commented on #603
@Dave-elec exporting is done using [tablib](http://docs.python-tablib.org/en/master/). A quick look at its documentation doesn't show a way to adjust column widths. Adding such functionality is out of scope for django-tables2.

If you find a way to adjust the column width with tablib, and need a hook in django-tables2 to apply it, please reopen.

[2018-08-20 08:55] #603 closed

[2018-08-20 08:55] #602 closed

[2018-08-20 13:09] Dave-elec commented on #603
Yes, I have been watching tablib's documentation. I couldn't find any way to resize columns. I had to write a  modified version of [_xlsx.py](https://github.com/kennethreitz/tablib/blob/master/tablib/formats/_xlsx.py) anyway.

[2018-08-24 09:42] jieter commented on #596
Just released [2.0.0b1](https://pypi.org/project/django-tables2/2.0.0b1/), should not be too far from a final 2.0.0.

[2018-08-24 14:06] roelbouwman opened #605 "tbody attributes (feature request)"
hello,
I'm using jquery-ui to sort tables, to make this work with django_tables2 i need to add an id attribute to the "tbody" tag. I noticed the "tbody" tag is not parameterizable, is it possible to build this feature in?

I'm looking forward to your answer

Kind regards,
Roel

[2018-08-24 14:32] jieter commented on #605
You can replace `<tbody>` with `<tbody {{ table.attrs.tbody.as_html }}>` in the templates, but that would require adding `tbody` to the `AttributesDict.blacklist`. Since that is a simple fix, I will do that right away, but if you want the templates to be customised in the django-tables2 package, please open a pull request adding them.

[2018-08-24 19:59] roelbouwman commented on #605
I've never done a pull request... I cloned the repository, added {{
table.attrs.tbody.as_html }} to the templates tbody tags and committed the
results. Is this the right order to do a pull request?

Op vr 24 aug. 2018 om 16:32 schreef Jan Pieter Waagmeester <
notifications@github.com>:

[2018-08-24 21:12] jieter commented on #605
Yes, it is.

It would be great if you could add it to all templates, and to thead and tfoot tags too.

[2018-08-25 09:46] roelbouwman commented on #605
ok, i'm changing the templates right now. shouldn't the tag thead also be
in the blacklist?

Op vr 24 aug. 2018 om 23:12 schreef Jan Pieter Waagmeester <
notifications@github.com>:

[2018-08-25 10:39] jieter commented on #605
Yes, it is:
https://github.com/jieter/django-tables2/blob/356ad7343fad369af6ab9240150903f956229440/django_tables2/utils.py#L437

[2018-08-25 11:03] roelbouwman commented on #605
permission to push my branch (tbody-attrs) to github is denied, how can i
push branch?

Op za 25 aug. 2018 om 12:39 schreef Jan Pieter Waagmeester <
notifications@github.com>:

[2018-08-25 11:29] jieter commented on #605
Ah, you cloned this one locally.

The way to do this:
1. Fork this repo on GitHub to roelbouwman/django-tables2.
2. Set the origin of your local clone to that repo (`git remote set-url origin git@github.com:roelbouwman/django-tables2.git`)
3. Push
4. Now the commit(s) are in roelbouwman/django-tables2, and you can create a pull request using the GitHub web interface.

[2018-08-25 11:38] roelbouwman commented on #605
thx, pull request is submitted

Op za 25 aug. 2018 om 13:29 schreef Jan Pieter Waagmeester <
notifications@github.com>:

[2018-08-25 13:11] jieter commented on #605
Merged, will probably do a release early next week.

Fixed within 24h, :D, thanks!

[2018-08-25 13:11] #605 closed

[2018-08-27 06:31] jieter commented on #605
released [2.0.0b2](https://pypi.org/project/django-tables2/2.0.0b2/)

[2018-08-27 19:08] jieter commented on #605
@roelbouwman hmm, apparently it is a bit more complicated. That's why we should have added a test or two...

I'm having a look right now.

[2018-08-27 19:33] jieter commented on #605
released [2.0.0b3](https://pypi.org/project/django-tables2/2.0.0b3/)

[2018-08-27 19:38] jieter commented on #605
It turns out I was mistaken about how simple this fix was. This is the diff adding the functionality and the test: 7c8103ac564defe8174d0cf0213bab281c23dfff

[2018-08-29 06:48] ccsv opened #607 "Suggestion to improve query set fields to be more DRY"
1. Can `sequence` and `fields` under the Meta options for tables be combined (or eliminate sequence)? The `fields` currently accepts both list and sets. [Python list will keep items in order while sets do not](https://stackoverflow.com/questions/13694034/is-a-python-list-guaranteed-to-have-its-elements-stay-in-the-order-they-are-inse) which makes the sequence option redundant.

Here are the docs f

[2018-08-29 10:26] jieter commented on #607
`sequence`can be used to reorder columns in while instantiating, this is currently possible:

[code]

How would you propose to support that use case?

[2018-08-29 13:20] behconsci opened #608 "'int' object does not support item assignment"
using

django-tables2==1.21.2
django-oscar==1.6
django==1.11.15

here is the full traceback:

[code]

[2018-08-29 13:55] behconsci commented on #608
ok, the solution was to remove:

table_pagination = 25

[2018-08-29 15:49] jieter commented on #608
Can you test if this also happens with django-tables2==2.0.0b5?

[2018-08-30 17:12] jieter commented on #608
Ah, I see: table_pagination should be a dict, not an int. The attribute paginate_by can be an int.

[2018-08-30 17:12] #608 closed

[2018-08-30 17:14] behconsci commented on #608
ah ok, good to know. thnx for info

Jan Pieter Waagmeester <notifications@github.com> schrieb am Do. 30. Aug.
2018 um 19:12:

[2018-09-02 01:26] ccsv commented on #596
I think you need some better docs for the linkify option in the manytomanycolumn and column fields

[2018-09-02 06:49] jieter commented on #596
@ccsv yes, it could use better docs. You are very welcome to contribute!

[2018-09-03 11:49] milano-slesarik opened #610 "Is it possible to render table/row or cell to use with AJAX?"
I was trying to figure out a way how to render table, row or cell to html so I can send it through **AJAX**.

For example there is a column with button "Export" and additional data like "Exported date", "Export status" etc. and you don't want to reload whole page after user clicks on this button.

You can do that replacing values in the cell using **JQuery** but I think it is much more comfortable

[2018-09-03 13:09] jieter commented on #610
django-tables2 is designed and implemented with the premise of a traditional html table. I'm not sure what exactly you want to send over AJAX, but I think it will very quickly get out of scope for this project.

The [`Table` class does have a method `as_html(request)`](https://github.com/jieter/django-tables2/blob/204a7f23860d178afc8f3aef50512e6bf96f8f6b/django_tables2/tables.py#L444-L455) though.

[2018-09-03 13:09] #610 closed

[2018-09-04 10:45] ccsv opened #612 "FieldError when sorting getters"
If I have a model with a `getter` like this:

[code]

and if I use it in a table without setting the `order-by` field in the Column like this:

[code]

The page will render fine but if I click on the column header I will get a FieldError: Cannot resolve keyword 'name' into field. This is resolved if I add something like  `order_by=('name')` in `tables.Column` but by default there there is no order

[2018-09-04 12:17] jieter commented on #612
So you suggest doing some inspection of the thing we get the data from and only set `orderable=True` if the column gets its data from a model field?

I didn't think this trough very well, but I suspect that might break the use case of rendering from a list of dicts.

[2018-09-04 19:16] ccsv commented on #612
@jieter  I think you might have a better idea than me.

[2018-09-05 23:22] niko86 opened #614 "django_tables2-1.21.2 installed with pipenv - No bootstrap4 template"
As the title says, however, if i take the bootstrap4.html template from github the template has errors due to a </span> tag being missing.

Not sure if this has been observed by others?

[2018-09-06 04:35] jieter commented on #614
Use django-tables2==2.0.0b5, the version you are using doesn't support bootstrap4.html yet.

[2018-09-06 08:04] #614 closed

[2018-09-06 08:17] jieter commented on #614
No problem!

[2018-09-10 08:02] behconsci opened #615 "non-integer constant in GROUP BY"
[code]

it seems to be django-table2 issue..

[2018-09-10 08:13] behconsci commented on #615
ok, it is my own issue. sorry

[2018-09-10 08:13] #615 closed

[2018-09-10 09:00] jonashaag commented on #8
It's not failing silently anymore.

[code]

which is terrible since it has no indication of a missing variable.

Either A) we should raise an error saying the variable is missing/None or B) we should render an empty result. I implemented B) in this PR

[2018-09-10 11:17] rsplaul opened #617 "Add support for multiple tables on one webpage"
I’m not sure, if I’m missing something, but is there a way to have multiple tables on one webpage and have them sorted independently? If I put two tables on one page, only one of them can be sorted by the user. Moreover, if they have identical column names, both get sorted by this column, because the query parameters are not distinct.

A fix could be to (optionally) add a name of the table to the

[2018-09-10 15:21] jieter commented on #617
There is [`table.Meta.prefix` and the `prefix` argument to the table constructor](https://django-tables2.readthedocs.io/en/latest/pages/api-reference.html#django_tables2.tables.Table), documented as:

So:

[code]

There is also [`MultiTableMixin`](https://django-tables2.readthedocs.io/en/latest/pages/generic-mixins.html#multiple-tables-using-multitablemixin) which automates most of this for you.

[2018-09-10 15:21] #617 closed

[2018-09-11 08:39] lwm opened #618 "Table.Meta.template is deprecated. Use template_name instead."
[code]

[2018-09-11 09:36] jieter commented on #618
@lwm yes.

As mentioned in [the changelog](https://github.com/jieter/django-tables2/blob/master/CHANGELOG.md#1180-2018-01-27), see also #520.

Just rename the attribute to `template_name`.

[2018-09-11 09:36] #618 closed

[2018-09-11 09:45] lwm commented on #618
Oh right, sorry for noise, thanks @jieter!

[2018-09-12 16:39] bronte2k7 opened #619 "context data in custom table template not working"
[code]

variable title not working in tableA.html

[2018-09-12 18:35] jieter commented on #619
That is expected behaviour. Your code example shows two `template_name` definitions.

`title` will be available in the context of `tables_list.html`, not in the context of `tableA.html`. You can access that context in `tableA.html` if you need to, it's available on each table, so `{{ tables.0.context.title }}` should return your title.

[2018-09-12 18:35] #619 closed

[2018-09-13 09:37] jieter commented on #596
released [2.0.0](https://pypi.org/project/django-tables2/2.0.0/)

[2018-09-13 09:37] #596 closed

[2018-09-13 13:01] douglance opened #620 "Linking each item in a Foreign Key reverse lookup"
**CURRENT BEHAVIOR**

I am trying to set up a reverse lookup for Lesson objects off of Unit objects.

Here's the Lesson object:
[code]
So I can do a reverse lookup off a unit object with `unit.lessons`

I am trying to get a comma separated list of Lesson objects in my Unit List table. Here's the column that I've tried, that doesn't work:

[code]
It only shows me wrongly linked queryset objects:` [

[2018-09-13 13:19] jieter commented on #620
@douglance Thanks, I just added a test for a slightly different use case here: 20a78b97cc7b843825d47248c45c766324cc9426

[2018-09-13 13:38] jieter commented on #620
And another one which is more like your situation: 9201af81e18ad7ac343fd7ec67a31f7834779d33

@douglance I see expected behaviour in both cases. Can you show the exact html output of your table?

[2018-09-13 13:44] douglance commented on #620
[code]

[2018-09-13 13:52] jieter commented on #620
cutting some irrelevant stuff away and applying some formatting, I see:

[code]

Isn't this expected?

[2018-09-13 14:07] douglance commented on #620
This:
[code]

Should be:
[code]

[2018-09-13 14:33] jieter commented on #620
Can you update the table definition above to include these 3 columns?

[2018-09-13 14:41] douglance commented on #620
Here's my complete table definition:

[code]

[2018-09-13 15:40] jieter commented on #620
@douglance shouldn't
[code]
be
[code]

[2018-09-13 15:45] douglance commented on #620
You're right. Wow. Thanks Jieter!

[:facepalm:](https://www.youtube.com/watch?v=SeDVNgsYy0k)

[2018-09-13 15:45] #620 closed

[2018-09-20 18:08] apocalyptech opened #621 "Include pagination block in table.html regardless of table.paginator.num_pages?"
Prior to 8f4146d95eec7f02b8a101221c1b13c2e103544d, the `pagination` block in `table.html` was wrapped in this:

[code]

After that commit, the wrapping's changed to be a bit more specific:
[code]

I've got an app which had been extending the `tables.html` template to provide custom pagination...  In instances where there's only one page to display, in the new version the `pagination` block itself

[2018-09-20 18:40] apocalyptech commented on #621
(Realized it was pretty lazy of me not to actually do a PR for this, so I've put one together, btw)

[2018-09-21 04:47] jieter commented on #621
Good point.

I'm willing to merge the PR, if the change is also applied to the other table templates, can you maybe add that to the PR?

[2018-09-21 14:47] apocalyptech commented on #621
Ohh, sure, I didn't even think to check the others, but you're right -- the same thing is in the rest, too.  That's been added to the PR, though Travis CI is still doing its thing on it.  (I've not really tested those manually, though I did run 'em through the unit tests again, at least.)

[2018-09-21 19:09] #621 closed

[2018-09-25 06:41] vincentwhales opened #623 "TypeError: PersonTable.model = <Person: > (type Person), but type must be one of (ModelBase)"
This might be off topic, but it seems like this error keeps showing up when one is upgrading the django-tables2 package from 1.x to the latest stable.

[code]

I am currently in the process of updating https://github.com/asifpy/django-crudbuilder, which breaks with the latest stable django-tables2 version.

All I am doing is running the example app provided here: https://github.com/asifpy/django-c

[2018-09-25 16:22] jieter commented on #623
No, it is meant to be a helpful message rather than a annoyance. I'll look into it soon.

[2018-09-25 17:28] vincentwhales commented on #623
Specifically:

[code]

I am getting:
[code]

where Person is defined in https://github.com/asifpy/django-crudbuilder/blob/master/example/example/models.py

[2018-09-25 18:51] jieter commented on #623
Interesting.
I added this test, which passes:

[code]
So it is not `ContentType` model causing this.
[The `TableBuilder`](https://github.com/asifpy/django-crudbuilder/blob/9de1c6fa555086673dd7ccc351d4b771c6192489/crudbuilder/tables.py#L12-L45) uses some custom trickery to get to a table, which might not be the best way to do it, but I'm not sure what exactly goes wrong.

I think assuming `isinstan

[2018-09-25 18:55] jieter commented on #623
I did not test it, but something like this might work:
[code]

[2018-09-28 12:19] jieter commented on #623
@vincentwhales does this help you in finding the issue?

[2018-09-28 18:45] meli-lewis opened #625 "Tutorial docs define models that are missing required fields"
I'm not sure how you'd prefer to handle this, but the Person model in https://django-tables2.readthedocs.io/en/latest/pages/table-data.html#querysets isn't viable without setting some defaults (how to handle empty fields generally, and `on_delete` for the `user` field).

Locally, I've just added `null=True` to each field and `on_delete=models.CASCADE` for `user` for the sake of expedience. If that

[2018-09-28 20:54] jieter commented on #625
Yes, these are already added to the example code. Earlier django versions didn't require you to  to add these, and the code in the docs is never ran (except by users like you).

PR very welcome!

[2018-10-03 18:08] Alzy opened #626 "Model attribute names no longer display as classes in the rendered table by default"
I noticed that the latest version of django-tables2 no longer adds model attribute names in the classes of the columns. (ie: `<th class="created_at"></th>`, `<td class="product_name"></td>`, etc).

This was a useful feature for me as I used it in my js scripts. I understand why someone may want it removed from the default behavior but is there any way explicitly enable or disable it in the new ver

[2018-10-04 09:11] jieter commented on #626
We probably should have mentioned this more clearly in the changelog, but it is [documented](https://django-tables2.readthedocs.io/en/latest/pages/api-reference.html#django_tables2.tables.Table.get_column_class_names):

[code]

[2018-10-06 12:40] jieter commented on #626
Hmm, I was about to add this piece of code to the CHANGELOG, only noting it's already there! So I'm closing this.

[2018-10-06 12:40] #626 closed

[2018-10-06 12:41] jieter commented on #625
@meli-lewis are you willing to open a PR?

[2018-10-06 12:42] jieter commented on #623
@vincentwhales I'm closing this as I don't see what django-tables2 should change. If you still think we should change the check, please re-open with a small test case reproducing the issue.

[2018-10-06 12:42] #623 closed

[2018-10-14 15:01] jpic opened #627 "Random th classes order"
Hello,

We use [django-responsediff](https://github.com/yourlabs/django-responsediff) for auto-generated acceptance tests.

However sometimes the order of th classes attribute items is not in the same order from a run to another :

[code]

Will you accept a patch to fix this ?

Thanks in advance

[2018-10-14 19:33] jieter commented on #627
What python version are you using? [python 3.6 uses insertion order for `dict`s](https://stackoverflow.com/a/39980744/517560), which should keep the order consistent.

[2018-10-14 21:30] jpic commented on #627
3.7 locally and 3.6 everywhere else

to reproduce:

git clone https://github.com/betagouv/mrs.git
cd mrs
rm -rf src/mrs/tests/response_fixtures # will cause them to regenerate
systemctl start postgresql
sudo -u postgres createuser -drs $USER
tox -e py36-dj21  # also works with py37

this will re-create the fixture files , you should see a diff like the above, most of the time ;)

[2018-10-16 06:47] jieter commented on #627
I was about to point you to the line we should probably replace `dict` with `OrderedDict`, only to discover it is already there:

https://github.com/jieter/django-tables2/blob/cb939bec29622c7cc78c994921c2e2637e181079/django_tables2/utils.py#L426

I'm happy to accept a patch making the order deterministic.

[2018-10-18 11:18] jpic commented on #627
Well, i think the issue here is rather "order within the value", than key order ?

[2018-10-18 13:02] jieter commented on #627
You are right of course, is might be the set used to deduplicate?

[2018-10-21 17:44] #627 closed

[2018-10-21 18:13] jpic commented on #627
Nice ! thank you very much :pray:

[2018-10-22 07:59] jieter commented on #627
released [2.0.2](https://pypi.org/project/django-tables2/2.0.2/)

[2018-10-22 08:00] jieter commented on #607
@ccsv is there still something to be improved here, or can we close the issue?

[2018-10-22 08:03] jieter commented on #621
released [2.0.2](https://pypi.org/project/django-tables2/2.0.2/)

[2018-10-31 01:28] michaelpb commented on #623
Just for others finding this error, the issue has to do with an incompatibility with `django-crudbuilder` (latest release in Dec 2017) and `django-tables2` 2.X and newer. Pinning `django-tables2` to `django-tables2==1.21.2` fixes it.

[2018-11-02 19:26] vincentwhales opened #628 "Exceptions during render_x?"
It seems like for some reason the exceptions in render_x methods are silenced.

Is this by design? How can I turn this off?

[2018-11-07 13:45] wtayyeb opened #629 "reduce pypi package file size"
Hi, thank you for your great django-table2 package. it helps us very much.

I recently re-install my environment and noticed django-tables2 pypi package size is even bigger than django itself!

![image](https://user-images.githubusercontent.com/1420290/48134445-3324bd00-e2af-11e8-9845-b64dad1f0cbc.png)

![image](https://user-images.githubusercontent.com/1420290/48134456-3ae46180-e2af-11e8-9382-a0a

[2018-11-07 14:01] jieter commented on #629
Yes, I noticed the size too, but never took the time to look into it. Excluding docs from the package sounds good to me, PR welcomen

[2018-11-08 13:57] wtayyeb commented on #629
why not publish it as wheel?

It is nothing to change in code repository to publish this package as wheel

It's too easy as executing following command:

    python setup.py bdist_wheel --universal upload

or more control on upload via twine:

    pip install twine

    python setup.py bdist_wheel --universal
    twine upload dist/django_tables2-xxx.whl

NOTE:
1. --universal is to generate py2/py3

[2018-11-08 14:01] wtayyeb commented on #629
also you could remove `recursive-include docs *` from MANIFEST.in file. and source publish it like before.

https://github.com/jieter/django-tables2/blob/master/MANIFEST.in#L4

[2018-11-08 14:18] jieter commented on #629
Because I do not fully understand the difference between a source package and a wheel, I do not want to rush changing it.
Like I said, you are welcome to open a PR removing the line from Manifest.in.

[2018-11-08 14:20] wtayyeb commented on #629
ok I am doing it right now. and will submit a pull request.

[2018-11-08 15:33] d33tah opened #631 "How to use LazyPaginator together with RequestConfig and Table classes?"
This is a copy of this SO question: https://stackoverflow.com/q/53208617/1091116

I want to visualize a big, indexed table - big enough for `count(*)` to be too slow for my use case. Here's my views.py code:

    import django_tables2

    from projectname.models import Growth

    def dashboard(request):

        class StatisticsTable(django_tables2.Table):

            class Meta:

[2018-11-08 19:11] wtayyeb commented on #629
@jieter, my PR(#630) is now ready. I have to solve some other stuff to make all travis-ci tests pass. but they dont belong to package size 😅

[2018-11-11 10:56] #629 closed

[2018-11-11 11:03] #625 closed

[2018-11-11 11:04] jieter commented on #607
Closing this, please reopen of you still think something has to be done here.

[2018-11-11 11:04] #607 closed

[2018-11-11 13:09] #631 closed

[2018-11-11 13:10] jieter commented on #631
I've added an example to the `RequestConfig` docstring in af25b25d1528ae1ec381014e12c864264d05f174:
[code]

[2018-11-11 14:13] d33tah commented on #631
@jieter thanks! That greatly speeded up my application.

[2018-11-13 20:01] partounian opened #632 "Example of filtering for custom tables"
Is it possible to filter a custom table and could I please get some guidance on it?

My table is the following

[code]

[2018-11-13 21:39] #632 closed

[2018-11-13 21:40] partounian commented on #632
Haven't figured it out yet, but realized that I should probably put this on stack overflow instead and this probably more for django_filters rather than tables

[2018-12-06 04:47] YongBeomKim opened #633 "Can I using it from Json Dataset?"
According the Manual, Defining a table it is necessary to declare each column:

import django_tables2 as tables
data = [ {'name': 'Bradley'},{'name': 'Stevie'},]

class NameTable(tables.Table):
    name = tables.Column()

table = NameTable(data)

But Using API json set, It is too hard to setting each columns name,
and Searching any Documents, and No one says How to convert Json to DjangoQuerySet

[2018-12-06 08:44] stupidYellowBird opened #634 "crud"
Can django_tables show a create /retrive/update/delete   view?

[2018-12-06 08:56] #633 closed

[2018-12-07 20:15] Rubyj opened #635 "sequence not properly setting sequence of columns"
I have a pretty simple table

[code]

[code]

However, when I return this table to front end, the columns are not ordered in the specific sequence I specified. Is this a bug?

[2018-12-07 20:38] Rubyj commented on #635
Actually I figured out the issue. It seems that if you the sequence iterable as a dict or a tuple, the order python traverses that iterable is not guaranteed. If I use use  list `sequence = [...]` then the order is guaranteed. You may want to note in docs..

[2018-12-17 14:31] fzzylogic opened #636 "Create glyph based link column with new 'linkify' attribute"
Below can also be resolved with TemplateColumn (probably more succinctly), but just mentioning it here for what it's worth.

On Django 2.1.4 with django-tables2 2.0.3:

Previously, to make a link column that contains only a glyph:

    _detail = tables.LinkColumn(
        'my_view',
        verbose_name=_('Detail'),
        orderable=False,     # turn off ordering for this column
        text='',

[2018-12-18 05:23] timrichardson opened #637 "Syntax error in linkify examples"
syntax error in linkify example, PR coming

[2018-12-18 11:08] #637 closed

[2018-12-22 10:49] jieter opened #639 "Count on non-paginated table using TableQuerysetData is not needed."
if non-paginated, it can be cast to list before calling `len()`

[2018-12-28 14:50] jieter opened #640 "Allow ordering by expressions."
As of django 1.8, ordering is also possible by expressions: https://code.djangoproject.com/ticket/6498

It would be useful to allow

`name = tables.Column(order_by=Lower('name'))`

[2018-12-29 14:04] fmatray opened #641 "Error 500 when export with xlsx"
Hello,
I get an error 500 when exporting in XLSX format.

This issue seems to be related to this one : https://github.com/kennethreitz/tablib/issues/323

Thanks
[code]

[2018-12-31 11:42] jieter commented on #641
Yes, this is an upstream issue in tablib. Until that's fixed, using `tablib==0.11.4` should work.

[2018-12-31 11:42] #641 closed

[2018-12-31 12:06] jieter commented on #634
I'm afraid that's out of scope for this project. The django admin or something like https://yourlabs.io/oss/crudlfap might suit your needs.

[2018-12-31 12:06] #634 closed

[2019-01-03 17:33] AndreGuerra123 opened #642 "Haystack Example"
Hello,
Similarly to the provided example with 'django_filters' package for filtering the data, would it be possible to include an example using Haystack since from the available pull requests it seems integration is feasible.
Best regards,

[2019-01-04 06:38] jieter commented on #642
You are welcome to contribute to the docs, I am not a haystack user myself, so I am not able to effectively create the example.

[2019-01-05 00:00] AndreGuerra123 commented on #642
There is little information online specially using CBVs. I found someone that implemented it successfully I will get in touch soon, since I honestly think will be a great addition to see the integration of these two amazing packages.

[2019-01-11 00:11] seandstewart commented on #191
@thclark were you successful in building out an extension? Looking and doing this as well, as I'm currently heavily invested in using Jinja but I'd like to make use of this library.

[2019-01-11 00:13] thclark commented on #191
Hi @seandstewart - sorry, no, I ended up moving my frontend to React, subverting the need for it.

[2019-01-11 08:40] thclark commented on #191
@seandstewart just remembered I did something in the interim using [django-datatables-view](https://bitbucket.org/pigletto/django-datatables-view) which works well with jinja2 and is based on the very powerful DataTables library for the front end.

These are rough and ready as I don't have much time, but should give you an idea!

[Gist of a jinja2 block I used](https://gist.github.com/thclark/1379

[2019-01-11 19:05] ArkNieckarz opened #643 "Not working with django-simple-history anymore"
Get error: ValueError: table data is of type <class 'App.models.HistoricalContactActivity'> but <class 'App.models.ContactActivity'> is specified in Table.Meta.model

Basically set_table in TableQuerysetData (in data.py) checks for self.model != table._meta.model which brakes tables with historical "field" in it.
How to set the class meta model of the history model of a concrete model class?

[2019-01-15 16:14] errcricket commented on #594
I am getting the same `TypeError: __init__() got an unexpected keyword argument 'linkify_item'` error.  Is this keyword argument specific only to version 2.0.0a5 or to that and any subsequent versions?

[code]

Just to make **extra** sure, I did a pip install and received this message:
'''
(py37) [XX@blahblah tracker]$ pip install django-tables2
Requirement already satisfied: django-tables2 in /ho

[2019-01-15 16:16] errcricket opened #644 "`TypeError: __init__() unexpected keyword argument 'linkify_item'` error for django_tables2 (version 2.0.3)"
I am getting the same `TypeError: __init__() got an unexpected keyword argument 'linkify_item'` error.  Is this keyword argument specific only to version 2.0.0a5 or to that and any subsequent versions?

[code]

Just to make **extra** sure, I did a pip install and received this message:
[code]

Do you have any suggestions (aside from using lambda) to make this functional?

_Originally posted by @er

[2019-01-15 16:53] jieter commented on #594
Can you share the relevant part of your table definition?

[2019-01-15 17:12] errcricket commented on #594
Apologies, I started a new thread here: https://github.com/jieter/django-tables2/issues/644. For the moment, I will copy over the info -- let me know if I should delete one or the other.

models.py

class PI(models.Model):
   l_name = models.CharField('L Name', blank=False, max_length=100, default='')
...

class Grant(models.Model):
   submission_date = models.DateField(null=True, blank=True)
   p

[2019-01-15 17:17] jieter commented on #644
You are using LinkColumn, not [ManyToManyColumn](https://django-tables2.readthedocs.io/en/latest/pages/api-reference.html#manytomanycolumn)

[2019-01-15 17:31] jieter commented on #644
Please share your updated table definition

[2019-01-17 00:39] seandstewart commented on #191
Thanks @thclark! This should work from my purposes.

[2019-01-17 17:19] ArkNieckarz commented on #643
Well maybe gradually, in a defined future version, throw an error but for now a warning with some clear meaning would help.
I have it working now, by not defining a model at all - but then have to define all of my fields. This is then duplicating what the model itself has already defined (in most cases that's fine). So duplicating field definition is not desirable.
But would be nice to figure out

[2019-01-20 12:11] ukhryab commented on #361
Hi, I have just experienced this issue on 1.21.2 version and Django==2.0.6. Thanks to `intiocean` [comment](https://github.com/jieter/django-tables2/issues/361#issuecomment-282588983), fixed it with setting additional ordering by 'pk'.

[2019-01-21 07:21] jieter commented on #643
@ArkNieckarz I was going to say you should try to put `HistoricalContactActivity` in the `Meta.model` attribute, but It's not importable. I still think making this error a warning is the way to go.

[2019-01-21 08:09] #643 closed

[2019-01-21 10:56] jieter commented on #643
released [2.0.4](https://pypi.org/project/django-tables2/2.0.4/)

[2019-01-22 18:58] errcricket opened #646 "Rendering model w/ foreign key as table on referenced model's detail page"
I have two models -- `Sample`, and `Publication`. Each model has a list view and a detail view, and it is possible that a sample will have a publication (_e.g._, sample is a foreign key in the publication model) .

In the event that a sample has a publication, I would like to display information specific to a sample as well as any related publications on the sample's detail view (`sample_detail.ht

[2019-01-23 09:41] bonidjukic commented on #635
@Rubyj That is kind of given since dictionaries in Python are basically hash tables so the order is not guaranteed.

Tuples and lists on the other hand are ordered so they work as expected (even though you mentioned tuples are not working).

[2019-01-23 20:03] Rubyj commented on #635
@bonidjukic Thanks for the explanation and that's why I tried lists, but in the docs it doesn't explain that and as copied form the docs didn't work, for me.

[2019-01-23 21:49] Rubyj commented on #635
@bonidjukic Sorry for the misunderstanding. I'm saying the tuples did not work for me. I used tuples for sequence in the above example (as instructed by docs) and it did not work. Only list worked

[2019-01-23 21:54] bonidjukic commented on #635
@Rubyj Ha, that's weird - I use tuples exclusively and never had any issues.

[2019-01-24 16:01] jieter commented on #646
This is an issue tracker to report bugs and request features, not a place to ask for help on using the library. Please use [stackoverflow](http://stackoverflow.com/questions/tagged/django-tables2) and tag your question with `django-tables2`.

You might have asked on SO already, but you did not get an answer. In that case, it often helps to rephrase your problem and attach a [Minimal, Complete, and

[2019-01-24 16:01] #646 closed

[2019-01-26 21:08] jieter commented on #635
the original issue shows a Set being used for the 'fields' list. While the Set data structure works to make sure the columns are included, their order is not guaranteed.

Can you check if using a tuple or list for `Meta.fields` resolves the issue too? If not, please try to come up with a minimal complete example, preferably in the form of a test ready to be added to the test suite showing the bug.

[2019-01-28 18:04] #600 closed

[2019-01-28 18:43] jpic commented on #600
Thanks @jieter for your prompt reply. It turned out we didn't implement the use case after all, but if/when we do it will be contributed.

Have a great day :sun_with_face:

[2019-02-17 00:47] niall opened #649 "ManyToMany Column filtering example"
Hi,

Is anyone able to provide an example of how to use the filter function on the ManyToMany

    def filter(self, qs):
        """
        Filter is called on the ManyRelatedManager to allow ordering, filtering or limiting
        on the set of related objects.
        """
        return qs.all()

I have a table with the following column:
`
site_set = tables.ManyToManyColumn(transform=lambda sit

[2019-02-17 12:41] jieter commented on #649
[docs on `ManyToManyColumn`](https://django-tables2.readthedocs.io/en/latest/pages/api-reference.html#manytomanycolumn):

This is an incomplete sentence, but it is supposed to communicate that the first argument will be the related manager, and that it's expected to return a (filtered, limited or ordered) queryset.

In you case, it will be something like `filter=lambda qs: qs.filter(is_active=True

[2019-02-17 12:50] #649 closed

[2019-02-18 08:22] niall commented on #649
Thanks, appreciate your help. With an example it all makes sense :+1:

[2019-02-21 15:42] ygwain commented on #9
Maybe there should be an option to raise exceptions? Sometimes it very useful.

[2019-02-21 15:56] ygwain opened #651 "TableListData sorting performance"
I have a list with about 1000 objects and sort them by attribute that returns a tuple of some data. Sorting by that attribute takes about 100ms. If I sort the list myself like:
[code]
it takes about 25ms. As I understand overhead happens because django-table2 wraps each object in Comparator class. Some info about it:
https://stackoverflow.com/questions/34455594/why-is-sorting-a-python-list-of-tupl

[2019-02-21 20:09] jieter commented on #651
@ygwain I did not write the sorting logic of `TableListData` myself, so I am am not aware of the reasons for this particular implementation. You are welcome to open a PR with a better performing implementation as long as the functionality is still the same.

[2019-03-01 23:09] wgordon17 opened #652 "How to specify `select_related` for table?"
My table is displaying multiple foreign key columns. How can I specify that `django-tables2` should use a `select_related` query set?

I'm using a class based view btw:

[code]

[2019-03-03 06:37] Asday commented on #652
There's no magic to [`SingleTableView`](https://github.com/jieter/django-tables2/blob/v2.0.5/django_tables2/views.py#L150).  It's a subclass of `ListView` with a mixin that adds some functionality to inject a table into context.

[code]

If we take a look at [`SingleTableMixin`](https://github.com/jieter/django-tables2/blob/v2.0.5/django_tables2/views.py#L58), we see the method [`.get_table_data()

[2019-03-03 06:42] Asday commented on #642
@AndreGuerra123 Would you be able to provide a link to the example to which you're referring?  I had a quick look around and was unable to find it.

[2019-03-04 14:35] wgordon17 commented on #652
Thank you @Asday, sometimes I'm just a bit thick when it comes to class-based views 🤦🏻‍♂️ And I agree, StackOverflow would be a better place...sometimes it's not always immediately obvious which is the best place, granted though, that's usually for less known packages.

Nonetheless, what you suggested is the perfect answer, thanks!

[2019-03-04 14:35] #652 closed

[2019-03-04 22:15] Asday commented on #652
CBVs are a fantastic tool for reducing boilerplate.  I'd recommend you get familiar with [ccbv](https://ccbv.co.uk), as that will very quickly pull back the curtain, and get you used to reaching for the right tools first time.

[2019-03-05 10:32] scdekov commented on #114
It's also an option to pass/alter in __init__ of the table, the extra_columns kwarg, having the column that yo want to remove as None. Example: `extra_columns = (('user', None),)`

[2019-04-05 11:48] ksantr opened #656 "Multiple columns in table_data"
Now I use this construction:

` table_data = Model.objects.annotate(Count('fieldname'))`

Is it possible to pass data to table_data for several different columns?

[2019-04-05 13:26] javilumbrales opened #657 "How to display related fields of "non existing" parent?"
Hi,

I got two models: Image(filename, uploaded_at) and Annotation (author, quality,...).

An Image can have multiple Annotations, and an Annotation belong to one image.

I'd like to display a table with the annotation columns and also display the image fields. All fine until here, but I'd like to display also the images that have no annotations created, and not sure how could I proceed to do this

[2019-04-05 17:59] javilumbrales commented on #657
Never mind, found a way to do it: https://stackoverflow.com/questions/55539848/how-to-do-a-left-outer-join-queryset-in-django-many-to-one/55540217#55540217

[2019-04-05 17:59] #657 closed

[2019-04-05 20:02] koopaconn opened #658 "Compatibility with tinymce"
I was wondering if their was any compatibility issues with django-tinymce? When rendering the table instead applying the HTML tags it will simply add them as text.

Desired
32999 **Wilson** Burg Suite 281 Port Curtis, NE 29035
What is rendered
`<p>32999 <strong>Wilson</strong> Burg Suite 281 Port Curtis, NE 29035</p>`

Is there any work around for this issue?

My models.py looks like:

[code]

[2019-04-10 07:52] jieter commented on #656
I'm afraid I need a little more context af for what you want to achieve exactly.

[2019-04-10 07:58] jieter commented on #658
By default, all model fields are treated as user input and thus escaped.

One possible way to render the actual html is:
[code]

[2019-04-10 11:15] ksantr commented on #656
[code]

Now I need to create a Groups table with these to columns:
[code]

Using table_data I can create only a single column.

[2019-04-10 11:19] jieter commented on #656
Something like this:

[code]

You can use a table like this:

[code]

[2019-04-11 11:04] jieter commented on #658
Another approach would be to add a custom column:

[code]

You must put this into a file that will be imported when django loads, for example in a file imported in a [`AppConfig.ready()` method](https://docs.djangoproject.com/en/2.2/ref/applications/#django.apps.AppConfig.ready)

[2019-04-11 11:04] #658 closed

[2019-04-12 00:48] ksantr commented on #656
It works, thanks.

[2019-04-12 00:48] #656 closed

[2019-04-17 02:19] coneypo opened #660 "Incomplete sentence in django-tables2.readthedocs.io"
**Description**
I found an incomplete sentence in django-tables2 website:

It seems that something missing after "may be".

**Screenshots**
Screenshot 1:
![image](https://user-images.githubusercontent.com/7233586/56255844-eadcb700-60f8-11e9-90fe-4dc89dd20938.png)
Screenshot 2:
![image](https://user-images.githubusercontent.com/7233586/56255866-fe881d80-60f8-11e9-87ab-6ad8072eff21.png)

In this rst

[2019-04-17 12:45] dyve opened #661 "UserWarning should provide more details"
`django_tables2/data.py:167: UserWarning: Table data is of type <class 'class1'> but <class 'class2'> is specified in Table.Meta.model`

This warning should provide some sort of stack trace.

[2019-04-18 12:41] AliPolat opened #662 "Unnecessary sorting information in column headers (that only appears when the table is printed)"
Hi,

How do I get rid of unneeded ordering information that messes the column headers only when the table is printed ?

Thank you..

Normal Screen Display

![Screen display](https://user-images.githubusercontent.com/1778756/56361534-4fc70880-61f0-11e9-80c5-b45020d1a20a.jpg)

Same Table when printed

![Printed Copy](https://user-images.githubusercontent.com/1778756/56361602-72592180-61f0-11e9-8a52-

[2019-04-20 06:46] h-joshi opened #663 "Unable to set table class via attrs keyword"
Hi,
This is what I've been referring to [Customizing table style](https://django-tables2.readthedocs.io/en/latest/pages/custom-rendering.html)

I'm using Django's class based view and attempting to set the table class value within the table declaration (here I want to set the class value to 'musicTable')

In spite of following the docs, I'm unable to get the table rendered with this class value se

[2019-04-20 13:59] h-joshi commented on #663
Figured out the issue. It appears the issue was with **views.py** and **music_list.html**

It's rendering of the 'table' context object and not the 'queryset' that was needed to properly _inject_ the attributes.

This needs to be:

**views.py**
[code]

**music_list.html**
[code]

[2019-04-20 13:59] #663 closed

[2019-04-20 14:04] h-joshi opened #664 "Documentation needs to include common use cases"
First of all, I really like django-tables2 .. It's still early days but I can see how it'll save me quite a bit of time.

I had recently logged #663 . While I figured it out, I think having documented examples that illustrate common use cases would be incredibly handy

e.g.

- Use within Class based views
- Customisation (e.g. adding a edit button or a delete button, hyperlinking to an action)

Th

[2019-04-26 23:37] vincentwhales opened #665 "Allowing the first column of SingleTableMixin to use LinkColumn?"
Right now I am using a view like this:

[code]

How can I tell SingleTableMixin to have the first column (typically id) to use something like this?

`tables.LinkColumn(viewname='myapp:mymodel-detail', args=[A('pk')])`

[2019-04-27 18:29] jieter commented on #662
I suspect this is an artefact of the bootstrap print stylesheet:

https://drupal.stackexchange.com/questions/59900/how-to-get-rid-of-added-urls-when-printing-a-bootstrap-themed-page

[2019-04-27 18:29] #662 closed

[2019-04-27 18:33] jieter commented on #664
@h-joshi Thanks for your suggestion. These issues are sometimes hard for maintainers very used to the functionality of the library. I cannot guarantee that I have time to add examples, but it really helps to get suggestions like you did.

While not part of the documentation, there are some [example views](https://github.com/jieter/django-tables2/blob/master/example/app/views.py) and [example table

[2019-04-27 18:38] jieter commented on #665
@vincentwhales There is currently no way to have the default table created add links. I suspect you want something like the admin default letting the first column link to the records `get_absolute_url()`?

[2019-04-28 07:26] jieter commented on #660
Thanks for reporting, removed incomplete sentence in b29515157c2232165db8c20a7a706090e3d1790d.

[2019-04-28 07:29] #660 closed

[2019-04-28 07:39] jieter commented on #661
I replaced `Table` in the autogenerated tables names with `AutogeneratedTable`. This is not a complete solution, but will hopefully improve this situation a bit.

[2019-04-29 16:51] vincentwhales commented on #665
Yes that is what I want.

What would you recommend me to do to in this case? Most of my apps are using django_tables so I just want to make it easy to integrate this functionality across all my tables

[2019-04-29 17:32] jieter commented on #665
We might be able to incorporate such a feature into django-tables2, if someone is willing to implement it ;)

[2019-05-01 09:07] adamgilman opened #667 "Allow inclusion tag in render_foo?"
For one of the columns, I have a preexisting Django template inclusion tag, which I'd like to reuse inside the table cell. When I attempt to return the Django template tag, it is not parsed by the template engine and only exported as plain text.

[code]

Renders out the plain text of the result

Name | Role | Status
-- | -- | --
monitor-multi-1 | Output | {% status "Production" %}

[2019-05-11 03:25] hongquan commented on #191
Here is how I use django-tables2 in Jinja:

[code]

I enable 2 template engine: Django for _*.html_ file and Jinja2 for _*.jinja_ file.

[2019-05-13 19:33] vincentwhales commented on #665
Hey @jieter

I have been looking at the issue and I am stuck on where this code should actually exist.

So far, my guess is that I should override [column_for_field](https://github.com/jieter/django-tables2/blob/dbbd44e27464cfa82966341298c1f40a2ad5e36a/django_tables2/columns/base.py#L40)

Do you have any suggestions?

[2019-05-14 07:40] jieter commented on #665
If we want it to be a an option for generated tables, I'd say [`table_factory`](https://github.com/jieter/django-tables2/blob/dbbd44e27464cfa82966341298c1f40a2ad5e36a/django_tables2/tables.py#L707) is the place to add this.

In turn, it needs a `linkify` Meta attribute allowing something like this:
[code]

table_factory needs to pass on this option just like the other options it takes.

[2019-05-22 12:15] fmatray opened #668 "Error when Exporting Datetime fields in XLSX"
Hello,

I have an error when I try to export a datetime field with XLSX :
`
ValueError at /unavailability/export
Cannot convert '15 avr. 2019 11:02' to Excel
`

`
  File "C:\Users\GB5026\PycharmProjects\indispo\venv\lib\site-packages\tablib\fo
rmats\_xlsx.py", line 145, in dset_sheet
    cell.value = unicode('%s' % col, errors='ignore')
TypeError: decoding str is not supported

During handling of

[2019-06-06 14:31] foarsitter opened #669 "count() query executed twice"
Using the `SingleTableMixin` result in two count() queries, the first one performed by the django paginator and second one performed in `django_tables2/data.py` on line 155.

I'm not enabled to oversee the bigger picture of what is going on but I can tackle the issue by setting `self.object_count` in an override of `paginate_queryset()` and set `table.data._length = self.object_count` in an overri

[2019-06-06 18:54] roostercrab opened #670 "Django 2.2.2 gives AttributeError: 'TableOptions' object has no attribute 'private_fields'"
This is my first time using django-tables2 so I am not sure if I have even configured it 100% correctly, but just in displaying the "SimpleTable" example with my model name replaced for the view I get this traceback:

[code]
Would downgrading to a previous version of Django be advisable until this can be resolved?

[2019-06-07 06:36] jieter commented on #670
Please share a bit of the relevant code to get to this error. Are you sure previous versions of django do not have this problem?

[2019-06-14 11:56] stanorama opened #671 "thead class cannot be overridden in bootstrap 4"
django 2.2.2
django-tables2 2.0.6
Firefox 67.0.1 64-bit
Chrome 74.0.3729.169 64-bit

Passing the class attribute of thead does not work when using the bootstrap 4 template.
This is caused by the inclusion of the default `class="thead-default"` in the template.
Any other attribute aside from class is being passed correctly.

bootstrap.html

bootstrap4.html

Setting attrs in table meta:

From Chrome

[2019-06-15 11:28] AndHam89 commented on #668
I confirm having the same issue on one django application. The proposed fix to define a function value_<fieldname> on the table class solved my issue too. My solution is slightly different.

    from django.utils import timezone

    def value_upload_timestamp(self, value):
        tz = timezone.get_current_timezone()
        return value.astimezone(tz)

[2019-06-15 13:11] rafaelmadaloz opened #672 "Error to export .csv and .xls as documentation"
[code]

template.html

[code]
When clicking on any link to export I get the following error ```ClientsView' object has no attribute 'get_table'```

There is also the question in stackoverflow [https://stackoverflow.com/questions/56463489/how-to-export-csv-with-django-tables2](here)

[2019-06-20 06:39] sanderbrauwers commented on #529
Very much need this!

[2019-06-20 08:01] jieter commented on #529
Like I said: patches welcome!

[2019-06-20 08:04] jieter commented on #671
@stanorama thanks for the report.

The table tag shows the proper way to have a default value and overridable class attribute:

https://github.com/jieter/django-tables2/blob/dbbd44e27464cfa82966341298c1f40a2ad5e36a/django_tables2/templates/django_tables2/bootstrap4.html#L6

Are you willing to open a PR fixing this issue?

[2019-07-06 06:15] #671 closed

[2019-07-07 02:57] Bha91 opened #674 "Problems running example project"
[code]

and when i change it to django-filter==2.0.0 following error occured:
[code]

[2019-07-19 13:13] fkdeboer opened #676 "export column with visible=False"
I use the ExportMixin and want to add some extra columns to my export.
In other words, I would like to be able to define a value_FOO method for a column which is not shown in the original table.
Currently, when setting visible=False for column FOO, Value_FOO() is not called. My proposal would be to include columns with visible=False for export, and only exclude columns from exclude_columns.

[2019-07-22 06:32] jieter commented on #674
That's odd, since django-filter does have a `2.1.0` released: https://pypi.org/project/django-filter/2.1.0/. in a few minute's I'll merge a commit upgrading django-filter in the example requirements to [2.2.0](https://pypi.org/project/django-filter/2.2.0/)

[2019-07-22 06:32] #674 closed

[2019-07-22 08:33] jieter commented on #672
You are not using `SingleTableView` or `SingleTableMixin`, which `ExportMixin` assumes. They define the method `get_table` method which is missing in your implementation:

https://github.com/jieter/django-tables2/blob/95513e54048e0bd31443eee89056a6c6b3c6f7e6/django_tables2/views.py#L95-L104

[2019-07-22 08:33] #672 closed

[2019-07-22 08:36] jieter commented on #670
@roostercrab I cannot act on this without more information. Please reopen with more information if you still have this problem.

[2019-07-22 08:36] #670 closed

[2019-07-22 09:53] jieter commented on #668
I added a test to reproduce this, but I was not able to reproduce this error.

[code]

[2019-07-22 10:41] jieter commented on #635
Closing this for no additional data was provided. If you stuble on this issue again, please include a minimal complete example to reproduce it.

[2019-07-22 10:41] #635 closed

[2019-07-22 11:37] #676 closed

[2019-07-22 16:49] AndHam89 commented on #668
Hello Jan Pieter,

Thanks for taking the time to test the issue report. You tested with "CSV" which works perfectly.

The issue only comes up if the export is done as an "Excel" file. The underlying library(ies) seem to have the problem (openpyxl).

Cheers,
Andreas

[2019-07-23 05:22] jieter commented on #668
Ah, I missed the correct call `View.as_view()(build_request("/?_export=xls"))` or `View.as_view()(build_request("/?_export=xlsx"))` but adding that doesn't make the test fail.
[code]
passes just fine.

[2019-08-09 23:43] rami-alloush commented on #36
I stupid solution that worked for me was to put the texts in any random template that the user never see
[code]
So they showed in my` .po `file and when translated in there, they were translated on my website.

[2019-08-19 21:04] frishberg opened #679 "table_data breaks usage with django-filter"
Not sure whether this is a bug or a documentation issue.

The following code works great and gives me pagination and filtering, with a base queryset filtered as defined in my `get_queryset`. However, when I remove the `get_queryset` method and instead set `table_data = Product.objects.filter(product_state='active')`, the filtering is ignored by django-tables2. I.e., no matter what filter term I en

[2019-08-21 00:31] JuliusCosmoRomeo commented on #599
thanks for this nice workaround @foldedpaper :)

[2019-09-04 09:22] NHanser opened #681 "Paginate two tables on same page"
When rendering two tables on a single page with pagination activated for both tables, when clicking on the number of a page for one table make the other table passing to the same page number.
Could it be possible to add a "pagination_keyword" to RequestConfig paginate dict argument?

[2019-09-05 02:20] benmehlman opened #682 "Row count behavior when mixing access methods of BoundRows"
Upgrading from tables2 1.4.2 to 2.0.6, I saw that the class="odd", class="even" behavior was broken.. it always shows "even".

The reason for this is a change in tables2 in which Table._counter is incremented every time a BoundRow is instantiated.  In BoundRows, a new BoundRow is instantiated with each call to __iter__() and also with each call to __getitem__().  Because of this, calls to __getite

[2019-09-05 03:45] Breath123 opened #683 "ImportError: cannot import name 'people' when followed tutorial"
When follows the first case in  [tutorial](https://github.com/jieter/django-tables2/blob/master/docs/pages/tutorial.rst), an exception raised as "from tutorial.views import people
ImportError: cannot import name 'people' when followed tutorial"

In the tutorial, there isn't a definition of people in tutorial/views.py:
    # tutorial/views.py
    from django.views.generic import ListView
    from .

[2019-09-05 06:21] Breath123 commented on #683
I have found the root cause and raise a merge request already, waiting for code review.

[2019-09-05 08:12] foldedpaper opened #685 "How can we use views.py to pass 'max' value to tables.py?"
I would like to create a custom rendering function for the maximum value in a column, much like as described in [this StackOverflow question](https://stackoverflow.com/questions/38757887/cell-color-django-tables2).

The problem is, I don't seem to be able to follow how to pass a calculated variable from views.py to tables.py.

Consider this example (also using a filter, not sure if that's causing

[2019-09-05 16:32] benmehlman commented on #682
I thought about this a little more, and I think that, unless there is a specific reason for the counter to be a member of Table, it makes more sense for it to be a member of BoundRows, and when a slice is taken, the counter for that slice should be initialized to the index of the first row in the slice.  This way, if you have multiple BoundRows instances with overlapping sets of rows, the rows tha

[2019-09-05 16:42] benmehlman commented on #685
This isn't a problem with tables2, just a minor issue in the way you are passing `max_number`.  Try:

    max_number = queryset.aggregate(Max('number'))
    table = NumbersTable(f.qs, max_number=max_number)

    class NumbersTable(tables.Table):
        def __init__(self, *args, **kwargs):
            self.max_number = kwargs.pop('max_number')
            super(NumbersTable, self).__init__(*args,

[2019-09-05 16:55] foldedpaper commented on #685
Ah! Thank you, and yes, I was pretty sure the issue was on my end, but hadn't quite figured out where I was going wrong.

What you've suggested works perfectly. Thanks again!

[2019-09-05 16:55] #685 closed

[2019-09-06 00:35] benmehlman opened #687 "The linkify kwarg doesn't support adding a querystring the way LinkColumn's render_link method did."
Prior to the addition of `linkify` it was possible to customize the behavior of LinkColumn by overriding the `render_link` method.  I did this, implementing a `LinkTemplateColumn which supported the passing of a querystring template to be rendered and appended to the url.

I am now upgrading tables2 and see that LinkTemplateColumn has been changed to a wrapper and the url rendering has been moved

[2019-09-06 01:59] benmehlman commented on #687
So, I worked on this a little bit, and here's my example of an approach that does not change tables2:
[code]

And to use it:

num_payments = tables.Column(
    linkify=LinkTemplate('payment_list', '{{u}}?account={{r.order__account__id}}&payer_name={{r.payer_name|urlencode}}').func,
    verbose_name='# Payments'
)

It is a little awkward but it works...  It would be a lot neater if this functionali

[2019-09-06 02:54] foldedpaper opened #688 "Empty cells following cells with custom render show custom render style"
Thanks to @benmehlman 's help with #685, I have a table that highlights the maximum value of a column with a custom style, using the render_foo method.

But I am running into an issue where columns with empty values are applying the render_foo style to empty cells that follow the max value. First I will show an image and then some example code.

As you can see, when the maximum value is rendered,

[2019-09-07 00:33] benmehlman commented on #687
So, I had to go ahead with some kind of solution, so in case anyone's interested here's what I did.  First, I created a subclass of tables2's `LinkTransform` that knows how to deal with query strings and fragment identifiers:
[code]
Then I wrote a function which returns a callback function that generates the url using that class:

[code]
This supports Accessors for the querystring values, but some

[2019-09-09 04:51] #683 closed

[2019-09-10 12:04] Mogost opened #689 "Compatibility issue with Django 3.0 due to django.utils.six"
Django 3.0 scheduled for December removed Python 2 compatibility APIs used by django-tables2 (django.utils.six, django.utils.encoding.python_2_unicode_compatible).

See https://docs.djangoproject.com/en/dev/releases/3.0/#removed-private-python-2-compatibility-apis
It would be wise to switch now to the direct use of six.

[2019-09-14 12:05] ImanoWilliams opened #690 "Check if table has data before rendering in template"
I am populating a table based on some query results. However, I would like to check if the table has data before calling **{% render_table table %}**. If the table does not have any data, I want to display "no records to the user". Is there a way to check for a table with no record in the template?

I pass **[{}]** for the table_data in the views.py

[2019-09-17 09:11] jieter commented on #690
I think `{% if table.data.data %}` works if you pass `[]` (and not `[{}]`).

[2019-09-17 09:11] #690 closed

[2019-09-17 09:13] jieter commented on #689
six is not used anymore as of release 2.1.0

[zero 'code' results for a `six` search on github](https://github.com/jieter/django-tables2/search?q=six&unscoped_q=six)

[2019-09-17 09:13] #689 closed

[2019-09-17 09:18] jieter commented on #688
the problem is that `render_apr` is only called if there is actually something to render. If the value is in `empty_values` for that column, it will not be called.

The solution is to add `empty_values=()` to the column definition, which will result in `render_apr` being called for every row of that column. You must change its implementation to return `self.default` in case of an empty value:
[cod

[2019-09-17 09:18] #688 closed

[2019-09-17 09:49] jieter commented on #679
@frishberg I'm not sure if this is still relevant, but I don't see any `table_data` definition in your example?

[2019-09-17 14:54] foldedpaper commented on #688
Ah! Yes, that solved it neatly. Thank you!

[2019-09-17 16:35] frishberg commented on #679
Right, this code sample works fine. See my description though: "when I remove the `get_queryset` method and instead set `table_data = Product.objects.filter(product_state='active')`, the filtering is ignored by django-tables2."

[2019-09-17 16:38] frishberg commented on #679
The concern is that the behavior is surprising: `table_data`, when it is set, seems to be used instead of `get_queryset`. This fact is not completely clear to me from the documentation, but seems to be true from the code. However, django-filter still uses `get_queryset` and does not know about `table_data`. So you cannot use `table_data` if you are also using `django-filter`.